$chat-font-size: 14px;
$primary-color: #1b3440;
$main-font-color: #ffffff;

$color-main-back: #ffffff;
$color-shadow: #e4e6e8;
$color-back: #f2f4f7;
$color-main-font: #393939;
$color-sub-font: #626262;
$color-sub2-font: #6e6e6e;
$color-yellow-font: #e9bd25;
$color-border: #e5e5e5;


* {
  margin : 0;
}

html, body {
  height: 100%;
}
body {
  margin-top: 8px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #F5F1D5;
  background-color: #1b3440;
}

a {
  text-decoration: none;
}

#mainframe {
  width: 100%;
  height: 100%;
}

.center_wnd {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 50%;
  left: 0;
  margin-top: -150px;
  text-align: center;
}

.title {
  font-size: 24px;
  margin: 10px;
}

.subtitle {
  margin-bottom: 10px;
}

.c_main {
  color: #F5F1D5;
}

.btn_box {
  width: 320px;
  height: 40px;
  line-height: 40px;
  background-color: #F5F1D5;
  color: #1b3440;
  cursor: pointer;
  margin: 20px auto;
}

.admin_msg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  min-height: 120px;
  margin-left: -45vw;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 120px;
  font-size: 16px;
  opacity: 0;
  overflow: hidden;
}

.opacity {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.non_opacity {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}