$chat-font-size: 14px;
$primary-color: #ffffff;
$main-font-color: #393939;

$color-main-back: #ffffff;
$color-shadow: #e4e6e8;
$color-back: #f2f4f7;
$color-main-font: #393939;
$color-sub-font: #626262;
$color-sub2-font: #6e6e6e;
$color-yellow-font: #e9bd25;
$color-border: #e5e5e5;

$c-logo-blue1: #3e58a7;
$c-logo-blue2: #1e2a5d;

* {
  box-sizing: border-box;
  margin : 0;
  padding: 0;
  overflow: hidden;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  background-color: #fafafa;
}

#app {

}

dt {
  margin: 10px 10px 4px 10px;
  font-weight: bold;
  font-size: 18px;
  color: $c-logo-blue1;
}

dd {
  margin: 6px 20px;
  font-size: 17px;
  color: $c-logo-blue2;
}

div {
}

#top {
  width: 100%;
  border-bottom: 2px #fcfcfc solid;
  height: 80px;
  background-color: white;
  text-align: center;

  a {
    height: inherit;
  }

  img {
    height: inherit;
    margin: 0 auto;
  }
}

$serverListRoot-width: 340px;
#server-list-root {
  text-align: center;
  width: $serverListRoot-width;
  height: calc(100vh - 80px);
  float: left;
  margin: 0;
  overflow-y: auto;
  background-color: #fcfcfc;
}

#right-area {
  width: calc(100vw - #{$serverListRoot-width} - 20px);
  height: calc(100vh - 80px);
  float: left;
  margin: 0;
  padding: 12px;
  background-color: #fcfcfc;

  .notice {
    color: $c-logo-blue1;
  }

  .menu {
    position: relative;
    top: 80px;
    min-width: 500px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    li {
      font-size: 15px;
      width: 25%;
      float: left;
    }
  }
}

.btn {
  width: 160px;
  height: 36px;
  margin: 4px 0;
  -moz-box-shadow:inset 0px 39px 0px -24px $c-logo-blue1;
  -webkit-box-shadow:inset 0px 39px 0px -24px $c-logo-blue1;
  box-shadow:inset 0px 39px 0px -24px $c-logo-blue1;
  background-color:$c-logo-blue1;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 2px 0px $c-logo-blue2;
}

.serv-item {
  cursor: pointer;
  margin: 4px 0;
}

#admin-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #000088;
  color: white;
  text-align: center;
  opacity: 0.8;
  padding: 16px;
}

.am-enter, .am-leave-to {
  opacity: 0;
}

.am-enter-active .am-leave-active{
  transition: opacity .5s;
}

#article {
  float: left;
  width: 100%;
}

.alert {
  color: #ff2a00;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 4px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
  background-color: #e4e6e8;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  background-color: #777777;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.ads {
  text-align: left;
  margin: 8px;
}