$chat-font-size: 14px;
$primary-color: #ffffff;
$main-font-color: #393939;

$color-main-back: #ffffff;
$color-shadow: #e4e6e8;
$color-back: #f2f4f7;
$color-main-font: #393939;
$color-sub-font: #626262;
$color-sub2-font: #6e6e6e;
$color-yellow-font: #e9bd25;
$color-border: #e5e5e5;


* {
  box-sizing: border-box;
  margin : 0;
  padding: 0;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  background-color: #fafafa;
}

#app {

}

dt {
  margin: 4px 10px;
  font-weight: bold;
  font-size: 17px;
}

dd {
  margin: 6px 20px;
  font-size: 14px;
}

div {
}

#top {
  width: 100%;
  border-bottom: 2px #fcfcfc solid;
  height: 40px;
  background-color: white;
  text-align: center;

  a {
    height: inherit;
  }

  img {
    height: inherit;
    margin: 0 auto;
  }
}

#menu-btn {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: green;
}

//  ?? ??? ????, ???, ???? ??
#btns-menu {
  text-align: center;
  button {
    width: 80%;
    height: 36px;
    margin: 4px 0;
    background-color: #fcfcfc;
  }
}

#server-list {
  li {
    text-align: center;
    margin: 0 4px;
    width: 20%;
    height: 30px;
    float: left;
  }

  li:nth-child(4n + 1) {
    clear: left;
  }

  .serv-item:nth-child(2n) {
    background-color: #dddddd;
  }
}

#admin-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #000088;
  color: white;
  text-align: center;
  opacity: 0.8;
  padding: 16px;
}

.am-enter, .am-leave-to {
  opacity: 0;
}

.am-enter-active .am-leave-active{
  transition: opacity .5s;
}

#tb-sign-up, #tb-change-pw {
  margin: 0 auto;
  width: 90%;
  text-align: center;

  td {
    padding: 4px;
  }

  input {
    width: 100%;
    height: 40px;
  }
}