@import "common.scss";

$c-back-blue: #e6f7ff;
$c-logo-blue1: #3e58a7;
$c-logo-blue2: #1e2a5d;

#app {
  overflow-x: hidden;

  .sub {
    margin: 20px 0 10px 0;
    font-weight: 600;
  }

  .desc {
    color: #999999;
    font-size: 14px;
    margin: 10px 0 5px 0;
  }

  input#ip-msg, input#ip-ban-nick {
    width: 600px;
    height: 30px;
  }

  input#ip-ban-nick {
    width: 200px;
  }

  #servers {
    .sub {
      margin: 10px 0;
    }

    li {
      margin: 8px 8px;

      .user {
        width: 80px;
        height: 30px;
        margin: 0 0 0 8px;
        text-align: right;
      }
    }

    li:nth-child(4n + 1) {

    }
  }
}

#top {
  $top-height: 36px;
  height: $top-height;
  line-height: $top-height;
  text-align: center;
  $box-shadow: inset 0 8px 40px $c-logo-blue1;

  box-shadow:$box-shadow;
  -moz-box-shadow:$box-shadow;
  -webkit-box-shadow: $box-shadow;

  text-shadow:1px 1px 3px black;

  background-color: $c-logo-blue2;
  color: white;
  font-size: 15px;
}

#top-menu {
  width: 100%;

  #top-menu-inner {
    width: 800px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;

    ul li {
      text-align: center;
      width: 20%;
      float: left;
      cursor: pointer;
    }
  }
}

#login-form {
  position: relative;
  left: calc( 50% - 150px );
  width: 300px;
  height: 600px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;

  input {
    width: 80%;
    margin: 0 auto;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    padding: 0 1em 0;
    background-color: $c-back-blue;
    border: solid 1px $c-logo-blue2;
    border-radius: 4px;
    height: 30px;
  }

  button {
    display: block; margin: 20px auto;
    background-color: $c-back-blue; border: none; border-radius: 4px;
    box-sizing: border-box; box-shadow: none;
    width: 60%; height: 35px;
    color: $c-logo-blue2; font-weight: 600; font-family: inherit;
  }

  label {
    display: block;
    margin: 6px 0 12px;
  }
}

#notice-root {
  margin: 20px;

  button {
    margin: 20px 0;
    width: 200px;
    height: 60px;
  }

  .sub {
    margin: 10px 0;
  }
}

.ip-default {
  height: 40px;
}

.ip-w-long {
  width: 460px;
}

.line {
  width: 300px;
  height: 20px;
  border-bottom: 3px dotted $c-logo-blue1;
  margin: 0 auto;
}

.btn-basic {
  height: 30px;
  width: 150px;
}