<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3598320494828213",
            enable_page_level_ads: true
        });
    </script>

    <title>라이브 퀴즈 프리미엄 서버</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈 프리미엄 서버"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<div class="chart-obj">
    <div>
        서버1 (<cnt class="user-cnt0"></cnt>)
    </div>
    <div class="ct-chart0">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버2 (<cnt class="user-cnt1"></cnt>)
    </div>
    <div class="ct-chart1">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버3 (<cnt class="user-cnt2"></cnt>)
    </div>
    <div class="ct-chart2">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버4 (<cnt class="user-cnt3"></cnt>)
    </div>
    <div class="ct-chart3">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버5 (<cnt class="user-cnt4"></cnt>)
    </div>
    <div class="ct-chart4">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버6 (<cnt class="user-cnt5"></cnt>)
    </div>
    <div class="ct-chart5">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버7 (<cnt class="user-cnt6"></cnt>)
    </div>
    <div class="ct-chart6">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버8 (<cnt class="user-cnt7"></cnt>)
    </div>
    <div class="ct-chart7">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버9 (<cnt class="user-cnt8"></cnt>)
    </div>
    <div class="ct-chart8">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버10 (<cnt class="user-cnt9"></cnt>)
    </div>
    <div class="ct-chart9">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버11 (<cnt class="user-cnt10"></cnt>)
    </div>
    <div class="ct-chart10">
    </div>
</div>
<div class="chart-obj">
    <div>
        서버12 (<cnt class="user-cnt11"></cnt>)
    </div>
    <div class="ct-chart11">
    </div>
</div>
</body>
<script type="text/javascript" src="/index.js"></script>
<script>
    $(document).ready(function() {
        if( isMobile() ) {
            window.location.href = 'http://jamlive.net';
            return;
        }

        var socket = io();
        init( socket );
    });
</script>
