<div id="top-menu">
    <div id="top-menu-inner">
        <ul>
            <li>서버 설정</li>
            <li>전체 메시지</li>
            <li>밴</li>
            <li>운영 툴 사용 로그</li>
        </ul>
    </div>
</div>