<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>

    <title>라이브 퀴즈 정답 공유기 v1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/style_mobile.css' />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<!-- HTML Design -->
<div id="root">
<div id="top-title">라이브 퀴즈 공유기 - <current-server-name class="ip-name">왕야옹</current-server-name></div>
<div id="top-ads">
    <ins class="kakao_ad_area" style="display:none;width:100%"
         data-ad-unit    = "DAN-t87e91n4i053"
         data-ad-width   = "320"
         data-ad-height  = "50"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
</div>
    <div id="graph-area">
        <div class="ct-chart">
        </div>
    </div>
</div>
<div id="middle-ads">
    <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-1iyeys41mnepk"
         data-ad-width   = "320"
         data-ad-height  = "100"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
</div>
<div id="chat-area">
    <ul class="chat-ui">
    </ul>
</div>
<div id="vote-btn-area">
    <div type="vote-btn" value="0">1번</div>
    <div type="vote-btn" value="1">2번</div>
    <div type="vote-btn" value="2">3번</div>
</div>
<div id="fix-btn-area">
    <div type="btn" id="btn-settings"><img src="/images/btn_settings.png"/></div>
    <% if( !username ) {%>
    <div type="btn" id="btn-login"><img src="/images/btn_login.png"/></div>
    <%}else {%>
    <div type="btn" id="btn-logout"><img src="/images/btn_logout.png"/></div>
    <%}%>
</div>
<div id="settings">
    <div type="title">설정</div>
    <div type="checkbox"><input type="checkbox" class="cb_max_vote_duplicate"/>최다 투표 동률시 미표시</div>
    <div type="checkbox"><input type="checkbox" class="cb_show_member_vote_only"/>고정닉 투표 결과만 보기(로그인시)</div>
    <div type="msg">아래 설정값이하 미표시 ( <min_vote>0</min_vote>표 이하 ) </div>
    <div class="min_vote_slider"></div>
    <div type="checkbox"><input type="checkbox" id="cb_auto_scroll"/>강제 자동 스크롤 on/off</div>
    <div type="checkbox"><input type="checkbox" id="cb_notshowsearchchat"/>검색 채팅 안받기</div>
    <div type="btn" id="btn-close-settings">닫기</div>
</div>
<div class="admin_msg"></div>
</body>
<script type="text/javascript" src="/index_mobile.js"></script>
<script>
    $(document).ready(function(){
        if( !isMobile() ) {
            window.location.href = '/new';
            return;
        }

        var socket = io();
        global.init(socket);
    });
</script>
</html>
