<!DOCTYPE html>
<html>
  <head>
      <title>JAM LIVE ( 잼라이브 ) 정답 공유기</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
      <meta name="description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
      <meta property="og:type" content="website">
      <meta property="og:title" content="JAM LIVE ( 잼라이브 ) 정답 공유기">
      <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
      <meta property="og:image" content="http://4seasonpension.com:4647/images/hotcom_banner.jpg">
      <meta property="og:url" content="http://4seasonpension.com:4647">
      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
      <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
      <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!-- HTML Design -->
  <div class="content">
      <maintitle>JAM LIVE 정답 투표기</maintitle><br/>
      <subtitle>집단지성으로 퀴즈 정답을 유추 해 보즈아!!!(현재 지성인 :<usercnt id="usercnt">0</usercnt>명)</subtitle><br/>
      <info>PC : 키보드 1,2,3 번으로 선택 가능한 부분! ( 누르고 있으면 연속 선택 가능. 듣고 정답같다 싶으면 사정없이 누르고 계세요! )</info>
      <div class="ct-chart ct-series-x" style="height: 300px; "></div>
      <img class="ads_banner" src="/images/hotcom_banner.jpg"/>
      <!-- 구글 플레이 스토어 링크 -->
      <a target='_blank' href="https://play.google.com/store/apps/details?id=com.sononpos.communityviwerex&hl=ko"><img class="ads_banner" src="/images/playstore.png"/></a>
      <!-- 애플 스토어 링크 -->
      <a target='_blank' href="https://itunes.apple.com/kr/app/%ED%95%AB-%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0/id1237566765?l=en&mt=8"><img class="ads_banner" src="/images/appstore.png"/></a>
      <div class="ct-barchart" style="height: 300px; "></div>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <input type="button" class="btn_vote" data="0" value="1번"/>
      <input type="button" class="btn_vote" data="1" value="2번"/>
      <input type="button" class="btn_vote" data="2" value="3번"/>
      <!-- JamLive페이지용 광고 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3598320494828213"
           data-ad-slot="4326018437"
           data-ad-format="auto"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
  <!-- Script -->
  <script>
      function showPieChart(dataSeries) {
          var data = {
              labels: ['1번', '2번', '3번'],
              series: dataSeries
          };

          var options = {
              labelInterpolationFnc: function(value) {
                  return value[0]
              }
          };

          var responsiveOptions = [
              ['screen and (min-width: 640px)', {
                  chartPadding: 30,
                  labelOffset: 100,
                  labelDirection: 'explode',
                  labelInterpolationFnc: function(value) {
                      return value;
                  }
              }],
              ['screen and (min-width: 1024px)', {
                  labelOffset: 80,
                  chartPadding: 20
              }]
          ];
          new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
      }

      function showBarChart(labelSeries, dataSeries) {
          var data = {
              labels: labelSeries,
              series: dataSeries
          };

          var options = {
              seriesBarDistance: 10,
              axisX: {
                  offset: 60
              },
              axisY: {
                  offset: 80
              }
          };

          new Chartist.Bar('.ct-barchart', data, options);
      }

      function showChart(data) {
          new Chartist.Line('.ct-chart', {
              series: [
                  data
              ]
          }, {
              seriesBarDistance: 1,
              low: 0,
              high: 100,
              fullWidth: true,
              chartPadding: {
                  right: 40
              }
          });
      }

      var tClick = 0;

      $(document).ready(function(){
          var socket = io();
          socket.on('testdata', function(data) {
              var users = data.users;
              $('#usercnt').text(users);
              var p = JSON.parse(data.cnt)._data;
              var ret = [1,1,1];
              var barLabelRet = [];
              var barDataSeriesRet = [[],[],[]];
              for( var key in p ) {
                  var t = new Date(1970, 0, 1); // Epoch
                  t.setSeconds(key);
                  t.setHours(t.getHours() + 9 + 9);
                  ret[0] += p[key][1][0];
                  ret[1] += p[key][1][1];
                  ret[2] += p[key][1][2];

                  barLabelRet.push(t.toISOString());
                  barDataSeriesRet[0].push(p[key][1][0]);
                  barDataSeriesRet[1].push(p[key][1][1]);
                  barDataSeriesRet[2].push(p[key][1][2]);
              }

              showBarChart(barLabelRet, barDataSeriesRet);
              showPieChart(ret);
              //$('#votecnt').text(JSON.stringify(ret));
          })

          $('.btn_vote').each(function(idx) {
              $(this).click(function() {
                  socket.emit('vote', {idx:$(this).attr('data')})
              });
          })

          $(document).keypress(function(event) {
              if( event.charCode >= 49 && event.charCode <= 51) {
                  var curTime = new Date();
                  if( curTime - tClick < 1000 ) {
                      return;
                  }
                  tClick = curTime;
                  socket.emit('vote', {idx:event.charCode - 49 })
              }
          })
      });
  </script>
  <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
