<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!-- HTML Design -->
  JamLive Answer Vote System<br/>
  click : <votecount id="votecnt"></votecount>
  <input type="button" class="btn_vote" data="0" value="1번"/>
  <input type="button" class="btn_vote" data="1" value="2번"/>
  <input type="button" class="btn_vote" data="2" value="3번"/>

  <!-- Script -->
  <script>
      timeClicked = Date.now() - 20000;
      function timerloop() {
          reqClickEvent('/vote', {cmd:'get'});
      }

      function reqClickEvent(url, jsondata) {
          $.ajax({
              type: 'POST',
              dataType: 'json',
              data: JSON.stringify(jsondata),
              contentType: 'application/json',
              url: '/vote',
              success: function(data) {
                  $('#votecnt').text(data[0].cnt +','+data[1].cnt +','+data[2].cnt);
              }
          });
      }

      $(document).ready(function(){
          reqClickEvent('/vote', {cmd:'get'});
          setInterval(timerloop, 500);
          $('.btn_vote').each(function(idx){
              $(this).click(function(){
                  event.preventDefault();
                  var curDate = Date.now();
                  if( curDate - timeClicked < 5000 ) {
                      return;
                  }

                  reqClickEvent('/vote', {cmd:'add', votenum: $(this).attr('data')});
                  timeClicked = curDate;
                  return true;
              });
          })

      });
  </script>
  </body>
</html>
