<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- JamLive페이지용 광고 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3598320494828213"
       data-ad-slot="4326018437"
       data-ad-format="auto"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- HTML Design -->
  JamLive Answer Vote System<br/>
  click : <votecount id="votecnt"></votecount>
  <input type="button" class="btn_vote" data="0" value="1번"/>
  <input type="button" class="btn_vote" data="1" value="2번"/>
  <input type="button" class="btn_vote" data="2" value="3번"/>
  <!-- Script -->
  <script>
      $(document).ready(function(){
          var socket = io();
          socket.on('testdata', function(data) {
              var p = JSON.parse(data.cnt)._data;
              var ret = [];
              for( var key in p ) {
                  var t = new Date(1970, 0, 1); // Epoch
                  t.setSeconds(key);
                  t.setHours(t.getHours() + 9 + 9);
                  ret.push({name: t.toISOString(), value: p[key][1] });
              }

              $('#votecnt').text(JSON.stringify(ret));
          })

          $('.btn_vote').each(function(idx) {
              $(this).click(function() {
                  socket.emit('vote', {idx:$(this).attr('data')})
              });
          })
      });
  </script>
  <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
