<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>

    <title>라이브 퀴즈 정답 공유기 v0.5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/styleSuwon.css' />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <script src="//cdn.ckeditor.com/4.10.0/basic/ckeditor.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<div id="root">
    <div id="area-top">
        <div id="area-top-left">
            <div id="logo">
                <img src="/images/logo.png"/>
            </div>
            <div id="server-list">
                <div class="serv" id="btn-serv-1">서버1</div>
                <div class="serv" id="btn-serv-2">서버2</div>
                <div class="serv" id="btn-serv-3">서버3</div>
                <div class="serv" id="btn-serv-4">서버4</div>
                <div class="curserv">현재서버 : <nc><%- servname %></nc></div>
            </div>
        </div>
        <div id="area-top-center">
            <div id="quizinfo-title">다음 라이브 퀴즈쇼</div>
            <div id="quizinfo-main"><next-quizday>오늘</next-quizday> <next-quiz-info><next-quiz-type>잼라이브</next-quiz-type> 20시 00분</next-quiz-info></div>
        </div>
        <div id="area-top-right">
            <div class="area-top-btn" id="btn-settings">설정</div>
            <div class="area-top-btn" id="btn-help">도움말</div>
            <%
            if( !username ) {%>
            <div class="area-top-btn" id="btn-signup">가입하기</div>
            <div class="area-top-btn" id="btn-login">로그인</div>
            <%}else {%>
            <div class="area-top-btn" id="btn-logout">로그아웃</div>
            <div class="area-login-info"><%-nick%>(<ap>0 점</ap>)님으로 접속 중</div>
            <%}%>

        </div>
    </div>
    <div id="area-article">
        <div id="article-left">
            <div id="search-area-left">
            </div>
            <div id="site-info-notice">
                <div id="site-info">
                    <div id="conn-cnt-wrapper">
                        <div>접속자 수</div>
                        <div id="conn-cnt">0</div>
                        <div>밴 수</div>
                        <div id="ban-cnt">0</div>
                    </div>
                </div>
                <div id="notice">
                    <div type="title">사이트 주의사항 ( 필독 )</div>
                    <div type="msg">정확하게 아는 것만 투표 해 주세요 ( 헷갈리면 투표 X )</div>
                    <div type="msg">욕설, 실수에 대한 과도한 비난 등은 영구밴 대상입니다</div>
                    <div type="msg">기타 비매너라고 판단되는 행위도 영구밴 대상입니다</div>
                    <div type="msg">투표 왜 이렇게 안올라오냐 등의 재촉 행위도 금합니다</div>
                </div>
            </div>
            <div id="hint">
                <div type="top-menu">
                    <hint-provider>잼라이브</hint-provider>님의 힌트 제공
                    <div id="btn-modify-hint">
                        수정하기
                    </div>
                    <div id="btn-modify-hint-cancel">
                        취소
                    </div>
                </div>
                <div id="hint-article-area">
                </div>
                <div id="hint-modify-area">
                    <textarea id ='memo-area' class="memo-area"></textarea>
                </div>
            </div>
        </div>
        <div id="article-center">
            <div id="search-area-center">
            </div>
            <div id="random-quiz">
                <div type="top-menu">
                    <quiz-provider>잼라이브</quiz-provider>님이 내주신 퀴즈
                    <div id="btn-toggle-quiz">
                        퀴즈 끄기
                    </div>
                </div>
                <div id="quiz-all-wnd">
                    <div id="random-quiz-question-wrapper">
                        <div id="random-quiz-question">
                            문제
                        </div>
                    </div>
                    <div class="random-quiz-answer">
                        보기1
                    </div>
                    <div class="random-quiz-answer">
                        보기2
                    </div>
                    <div class="random-quiz-answer">
                        보기3
                    </div>
                    <div class="gauge-wrapper">
                        <div class="gauge"></div>
                    </div>
                </div>
            </div>
            <div id="ads-banner-center">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-1iyeys41mnepk"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>
            <div id="ads-banner2-center">
                <ins class="kakao_ad_area" style="display:none;width:100%"
                     data-ad-unit    = "DAN-uvjqvmlqkb3k"
                     data-ad-width   = "320"
                     data-ad-height  = "50"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>
            <ul id="conn-users-list">

            </ul>
            <div id="ads-img1-center">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-tofpljkyvq06"
                     data-ad-width   = "300"
                     data-ad-height  = "250"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>
        </div>
        <div id="article-right">
            <div id="vote-data">
                <div type="top-menu">
                    <vtitle>투표 결과</vtitle>
                </div>
                <div class="ct-chart">
                </div>
            </div>
            <div id="ads-banner-right">
                <ins class="kakao_ad_area" style="display:none;width:100%"
                     data-ad-unit    = "DAN-t87e91n4i053"
                     data-ad-width   = "320"
                     data-ad-height  = "50"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
            </div>
            <div id="chat-wnd-root">
                <div id="search-ret-rank">
                    <div class="h1">유저들의 검색 결과 상위 5개</div>
                    <div class="s1">클릭하면 검색합니다</div>
                    <ui id="search-ret-rank-list">
                    </ui>
                </div>
                <div type="top-menu">
                    <vtitle>채팅</vtitle>
                </div>
                <div id="chat">
                    <ul class="chat-ui">
                    </ul>
                </div>
                <div id="chat-input-area">
                    <input id="ip-nick" type="text" disabled><input id="ip-msg" type="text">
                </div>
            </div>
        </div>
    </div>
</div>

<wnd role="settings">
    <div type="title"> - 투표 - </div>
    <div type="line"></div>
    <div type="checkbox"><input type="checkbox" class="cb_max_vote_duplicate"/>최다 투표 동률시 미표시</div>
    <div type="checkbox"><input type="checkbox" class="cb_show_member_vote_only"/>고정닉 투표 결과만 보기(로그인시)</div>
    <div type="checkbox"><input type="checkbox" class="cb_show_search_user_vote_only"/>검색을 한 유저의 투표만 보기(로그인시)</div>
    <div type="msg">아래 설정값이하 미표시 ( <min_vote>0</min_vote>표 이하 ) </div>
    <div class="min_vote_slider"></div>
    <div type="line"></div>
    <div type="title"> - 검색 - </div>
    <div type="line"></div>
    <div type="msg">검색당 결과 수 ( <ret_cnt>0</ret_cnt>표 이하 ) </div>
    <div class="ret_cnt_slider"></div>
    <div type="checkbox"><input type="checkbox" id="cb_s0"/>네이버 - 백과사전
        <input type="radio" name="radio_s0" value="1" >왼쪽
        <input type="radio" name="radio_s0" value="2" checked>오른쪽</div>
    <div type="checkbox"><input type="checkbox" id="cb_s1"/>네이버 - 지식인
        <input type="radio" name="radio_s1" value="1" checked>왼쪽
        <input type="radio" name="radio_s1" value="2">오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s2"/>네이버 - 블로그
        <input type="radio" name="radio_s2" value="1" checked>왼쪽
        <input type="radio" name="radio_s2" value="2">오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s3"/>네이버 - 뉴스
        <input type="radio" name="radio_s3" value="1" checked>왼쪽
        <input type="radio" name="radio_s3" value="2">오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s4"/>네이버 - 이미지
        <input type="radio" name="radio_s4" value="1" checked>왼쪽
        <input type="radio" name="radio_s4" value="2">오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s5"/>구글(다음으로 대체)
        <input type="radio" name="radio_s5" value="1" >왼쪽
        <input type="radio" name="radio_s5" value="2"checked>오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s6"/>사이트 기출DB
        <input type="radio" name="radio_s6" value="1" >왼쪽
        <input type="radio" name="radio_s6" value="2"checked>오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_s7"/>어학사전
        <input type="radio" name="radio_s7" value="1" >왼쪽
        <input type="radio" name="radio_s7" value="2"checked>오른쪽</div>
    </div>
    <div type="checkbox"><input type="checkbox" id="cb_top_five"/>검색 top 5 보기</div>
    <div type="line"></div>
    <div type="title"> - 채팅 - </div>
    <div type="line"></div>
    <div type="checkbox"><input type="checkbox" id="cb_auto_scroll"/>강제 자동 스크롤 on/off</div>
    <div type="checkbox"><input type="checkbox" id="cb_notshowchat"/>일반 채팅 안받기(성능)</div>
    <div type="checkbox"><input type="checkbox" id="cb-notice-disable"/>알림 안받기</div>
</wnd>

<div class="admin_msg"></div>
<div class="user-menu">
    <div type="name"><name>왕야옹</name> 님을</div>
    <div type="menu">
        <div type="btn" id="um-ban">신고합니다</div>
        <div type="btn" id="um-permanentban" class="admin-component">영구 밴합니다</div>
        <div type="btn" id="um-like">칭찬합니다</div>
        <div type="btn" id="um-cancel">다시 생각해볼게요</div>
    </div>
</div>
<div id="notice-wrapper">
    <div id="notice-wnd">
        <h2>투표 방법</h2>
        <p>키보드 오른쪽 키패드 1,2,3번</p>
        <p>키보드 화살표 왼쪽(1번) 아래쪽(2번) 오른쪽(3번)</p>
        <p>채팅창에서 번호 입력 후 엔터</p>
        <h2>검색 방법</h2>
        <p>채팅창에서 슬래시(/) 입력 후 검색어 입력</p>
        <h2>영구밴 당하는 방법</h2>
        <p>욕설을 한다</p>
        <p>지속적인 낚시 투표를 한다</p>
        <p>사적인 광고를 반복적으로 올린다</p>
        <p>더퀴라 초이스 문제에서 신고를 한다</p>
    </div>
</div>
</body>
<script type="text/javascript" src="/indexSuwon.js"></script>
<script>
    $(document).ready(function() {
        if( isMobile() ) {
            window.location.href = 'http://jamlive.net';
            return;
        }

        CKEDITOR.replace('memo-area');

        var socket = io();
        init( socket );
    });
</script>
