<!DOCTYPE html>
<html>
<head>
    <title>라이브 퀴즈 정답 공유기 v0.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/style_new.css' />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3598320494828213",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<!-- HTML Design -->
<script src="/socket.io/socket.io.js"></script>
<div class="main_frame">
    <div class="header">
        <div class="logo">
            라이브 퀴즈 정답 공유기 <guide class="guide_btn">사용법을 모르시면 클릭</guide>
        </div>
        <div class="logo_sub">
            <a href="http://jamlive.net">서버1</a> | <a href="http://ch2.jamlive.net">서버2</a> ( 현재서버 : <%- servname %> )
        </div>
        <div class="logo_bot">
            <%if(!username) { %>
            <a id="btn_signup" href="/signup" class="link_color">고정닉 가입</a> | <a id="btn_login" href="/signin" class="link_color">로그인</a> <%} else { %> <btn_logout class="link_color">로그아웃</btn_logout> <% }%>
            | <a href="http://quiz.jamlive.net" target="_blank" class="link_color"> 기출문제 풀어보기</a>
            | <recommand_code>잼라이브 : <color_red>FBICT</color_red> | 페이큐 : <color_red>LGJXRQ</color_red> | 더퀴라 : <color_red>70btom</color_red> | 라이브팝 : <color_red>왕야옹</color_red></recommand_code> | 문의 : nnnyyy@nate.com
        </div>
    </div>
    <div class="content">
        <!--
            왼쪽에 사용 방법 설명창 ( 열고 닫을 수 있는 )
            왼쪽에 지식인 검색
            가운데에 표
            오른쪽에 채팅창
        -->
        <div class="content_left">
            <div class="search_root">
                <div style="text-align: center;height:15px;">
                    <input type="checkbox" id="cb_s0" name="chk_info" value="0" checked>백과사전
                    <input type="checkbox" id="cb_s1" name="chk_info" value="1" checked>지식인
                    <input type="checkbox" id="cb_s2" name="chk_info" value="2" >블로그
                    <input type="checkbox" id="cb_s3" name="chk_info" value="3" checked>뉴스
                    <input type="checkbox" id="cb_s4" name="chk_info" value="4" checked>이미지
                    <input type="checkbox" id="cb_s5" name="chk_info" checked>구글
                    <input type="checkbox" id="cb_s6" name="chk_info" value="5" >기출문제에서 찾기
                </div>
                <div id ="sd_ret" class="search_article"></div>
                <div id ="sd_ads" class="search_article">
                    <!--
                        검색 결과물 출력
                    -->
                    <div class="search_desc">검색방법 : 채팅창에서 /(슬래시) 누른 후 검색어 입력... 그리고 엔터!</div>
                    <div style="text-align: center;width: 100%;margin-bottom: 5px;">
                        <b>심심할 땐 구글 플레이스토어에서 '핫커뮤니티'를 검색하세요!</b><br>
                        <img src="/images/hotcom_banner.jpg" style="height: 40px;"/><br>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.sononpos.communityviwerex&hl=ko"><img src="/images/playstore.png" style="height: 40px;"/></a>
                        <a target="_blank" href="https://itunes.apple.com/kr/app/%ED%95%AB-%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0/id1237566765?l=en&mt=8"><img src="/images/appstore.png" style="height: 40px;"/></a>
                    </div>
                    <div style="text-align: center;">
                        <ins class="daum_ddn_area" style="display:none;margin-top:5px"
                             data-ad-unit    = "DAN-1hbghejif3l2e"
                             data-ad-media   = "5MC"
                             data-ad-pubuser = "4jp"
                             data-ad-type    = "D"
                             data-ad-width   = "250"
                             data-ad-height  = "250"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js"></script>
                    </div>
                    <div style="text-align: center">
                        <div id='caulyDisplay2'>
                            <script src='http://image.cauly.co.kr/websdk/common/lasted/ads.min.js'></script>
                            <script>
                                new CaulyAds({
                                    app_code: 'rGdyBZMq',
                                    placement: 1,
                                    displayid: 'caulyDisplay2',
                                    passback: function () {
                                        console.log('cauly 2 passed');
                                    },
                                    success: function () { }
                                });
                            </script>
                        </div>

                    </div>
                    <div style="text-align: center" >
                        <div id='caulyDisplay'>
                            <script src='http://image.cauly.co.kr/websdk/common/lasted/ads.min.js'></script>
                            <script>
                                new CaulyAds({
                                    app_code: '8HV68Mb6',
                                    placement: 1,
                                    displayid: 'caulyDisplay',
                                    passback: function () {
                                        console.log('cauly 1 passed');
                                    },
                                    success: function () { }
                                });
                            </script>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- 잼라이브사이트_직사각형_배너 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:336px;height:280px"
                             data-ad-client="ca-pub-3598320494828213"
                             data-ad-slot="8858417475"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_mid">
            <div id="mid_graph">
                <div class="mid_sub_top">
                    실시간 투표 참여 인원
                </div>
                <div class="mid_article">
                    <vote_user_cnt>0</vote_user_cnt>명
                </div>
                <div style="text-align: center; margin: 4px;">
                    <input type="checkbox" class="cb_max_vote_duplicate" value=""/>최다 투표가 동률 미표시
                    <input type="checkbox" class="cb_show_member_vote_only" value=""/>고정닉 투표결과만 보기 ( 로그인시 가능 )
                </div>
                <div style="width: 100%; text-align: center;">아래 설정값 이하는 미표시 ( 현재 : <min_vote>0</min_vote>표 이하)</div>
                <div class="min_vote_slider"></div>
                <div class="mid_desc">
                    <desc>[투표방법] 키보드 1,2,3 번을 누름 or 아래 버튼 클릭</desc>
                </div>
                <div class="mid_btn_area">
                    <input type="button" class="btn_vote" data="0" value="1번"/>
                    <input type="button" class="btn_vote" data="1" value="2번"/>
                    <input type="button" class="btn_vote" data="2" value="3번"/>
                </div>
                <div class="ct-chart">

                </div>
                <div style="text-align: center;">
                    <ins class="kakao_ad_area" style="display:none;width:100%"
                         data-ad-unit    = "DAN-t87e91n4i053"
                         data-ad-width   = "320"
                         data-ad-height  = "50"></ins>
                    <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
                </div>
                <div style="text-align: center;">
                    <ins class="kakao_ad_area" style="display:none;"
                         data-ad-unit    = "DAN-1iyeys41mnepk"
                         data-ad-width   = "320"
                         data-ad-height  = "100"></ins>
                    <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
                </div>
                <div class="mid_caution">
                    투표는 확실히 아는 것에만 부탁드립니다!
                </div>
                <div class="mid_sub_top">
                    투표에서 제외된 ip 리스트 수
                </div>
                <div class="mid_article">
                    <vote_except>0</vote_except>개
                </div>
                <div style="text-align: center;">
                    <input type="checkbox" class="cb_auto_search" value="반자동 검색"/>반자동 검색 (정확도는 떨어지나 타자 치기 귀찮을 때 )
                </div>
            </div>

        </div>
        <div class="content_right">
            <div id="mid_quiz_search"></div>
            <div class="chat_top">
                실시간 채팅 <sub>( 부정 투표자 아이디를 클릭하면 신고 가능 )</sub>
            </div>
            <div class="chat_opt" style="height: 20px; margin-left: 12px;">
                <input type="checkbox" id="cb_auto_scroll" value="auto scroll"/>강제 자동 스크롤 <input type="checkbox" id="cb_votemsg" value=""/>투표 메시지 숨김
            </div>
            <div class="chat_root">
                <div class="chat_msg">
                    <ul class="chat_ul">
                    </ul>
                </div>
                <div class="chat_input">
                    <input class="ip_name" type="text"><input class="ip_msg" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="bottom_ads">
            <ins class="kakao_ad_area" style="display:none;width:100%"
                 data-ad-unit    = "DAN-uvjqvmlqkb3k"
                 data-ad-width   = "320"
                 data-ad-height  = "50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
        </div>
    </div>
    <footer>
        <input type="button" class="btn_vote enjoy-css" data="0" value="1번"/>
        <input type="button" class="btn_vote enjoy-css" data="1" value="2번"/>
        <input type="button" class="btn_vote enjoy-css" data="2" value="3번"/>
        <div>
            <img src="/images/chat_icon.png" class="btn_mobi_chat" />
        </div>
    </footer>
    <div class="admin_msg">안녕하세요.</div>
    <div class="quiz_wnd">
        <div>[관리자 랜덤 기출 문제] <time>0</time></div>
        <div class="q_title">문제</div>
        <div style="height: 10px;"></div>
        <div class="q_q">보기1</div>
        <div class="q_q">보기2</div>
        <div class="q_q">보기3</div>
        <div style="margin-top:10px;">더 많은 퀴즈를 풀어보려면? >> <a href="http://quiz.jamlive.net" target="_blank" style="text-decoration: none; color: yellow;">이동하기</a></div>
    </div>

    <div class="youtube_video">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/cUDFcUr8TAs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <div class="youtube_close">닫기</div>
    </div>
    <div class="bbam">
        <img id="img_hong" src="/images/hong_shock.png"/>
        <div class="font_bbam1">
            <img src="/images/bbam.png"/>
        </div>
        <div class="font_bbam2">
            <img src="/images/bbam.png"/>
        </div>
        <div class="font_bbam3">
            <img src="/images/bbam.png"/>
        </div>
    </div>
    <div class="image_search_wnd"></div>
</div>
<script type="text/javascript" src="/index_logic.js"></script>
<script>
    $(document).ready(function(){
        initBBam();

        registerSocketEvent(socket);
        registerKeyEvent(socket);
        registerClickEvent(socket);

        setMinVoteSliderListener();
        setShowMemberVoteOnlyListener();
        setVoteMsgVisibleListener();
        setSearchCheckboxes();

        <%if(!username) {%>
        setNickName();
        $('.ip_name').prop('disabled', false);
        <%}else {%>
        isLogin = true;
        $('.ip_name').val('<%- nick %>');
        usernick = '<%= nick %>';
        $('.ip_name').prop('disabled', true);
        <%}%>
        htmlBackup = $('.search_article').html();
        $('#sd_ret').css('display','none');
        $('#sd_ads').css('display','inline-block');
        $('#mid_quiz_search').css('display', 'none');

        if( isMobile() ) {
            $('.content_left').css('display','none');
            $('.content_right').css('display','none');
            $('.content_mid').css('width','100%');
            $('.footer').css('display', 'none');
            $('.mid_btn_area').css('display', 'none');
            $('.header').css('text-align','center');
            $('.header').css('height','100px');
            $('.logo').css('width','100%');
            $('.logo').css('margin-left','0px');
            $('.logo').css('font-size','20px');
            $('.logo_bot').css('display', 'none');
            $('guide').css('display','none');
            $('.quiz_wnd').css('width','90vw');
            $('.quiz_wnd').css('margin-left','-45vw');
            $('.admin_msg').css('width', '90vw');
            $('.admin_msg').css('margin-left','-45vw');
            $('.admin_msg').css('line-height','30px');
            $('.chat_msg').css('height', 'calc( 100% - 30px )');

            //  모바일용 채팅창
            $('footer').after($('.content_right'));
            $('.chat_top').css('background-color', '#F5F1D5');
            $('.chat_opt').css('background-color', '#F5F1D5');
            $('.chat_opt').css('margin-left', '0');
            //$('.content_right').css('display','none');
            $('.content_right').css('position','fixed');
            $('.content_right').css('opacity','0.85');
            $('.content_right').css('width','100%');
            $('.content_right').css('height','100%');
            $('.content_right').css('top','0');
            $('.content_right').css('left','0');
            $('.chat_root').css('height', 'calc( 100% - 10px - 92px - 80px )');
            $('.chat_root').css('width', '100%');
        }
        else {
            $('footer').css('display','none');
        }

        $('.quiz_wnd').css('display', 'none');
    });
</script>
</body>
</html>
