<!DOCTYPE html>
<html>
<head>
    <title>라이브 퀴즈 정답 공유기 v0.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/style_new.css' />
</head>
<body>
<!-- HTML Design -->
<script src="/socket.io/socket.io.js"></script>
<div class="main_frame">
    <div class="header">
        <div class="logo">
            라이브 퀴즈 정답 공유기
        </div>
        <div class="logo_bot">
            팩트 : 사이트 보고 틀린 문제는 어차피 틀렸을 문제다. 틀리면 자신을 탓하라. 그리고 <a href="http://quiz.jamlive.net" target="_blank">여기를 클릭</a>해서 기출문제를 풀고 연습하라.
        </div>
    </div>
    <div class="content">
        <!--
            왼쪽에 사용 방법 설명창 ( 열고 닫을 수 있는 )
            왼쪽에 지식인 검색
            가운데에 표
            오른쪽에 채팅창
        -->
        <div class="content_left">
            <div class="search_root">
                <div class="search_article">
                    <div class="search_top">
                        검색 결과가 표시 됩니다.
                    </div>
                    <!--
                        검색 결과물 출력
                    -->
                    <div class="search_desc">검색방법 : 채팅창에서 /(슬래시) 누른 후 검색어 입력... 그리고 엔터!</div>
                    <div style="text-align: center;">
                        <ins class="daum_ddn_area" style="display:none;margin-top:30px"
                             data-ad-unit    = "DAN-1hbghejif3l2e"
                             data-ad-media   = "5MC"
                             data-ad-pubuser = "4jp"
                             data-ad-type    = "D"
                             data-ad-width   = "250"
                             data-ad-height  = "250"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js"></script>
                    </div>
                    <div style="text-align: center;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- jamlive -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-3598320494828213"
                             data-ad-slot="1906645715"
                             data-ad-format="auto"></ins>
                    </div>
                    <div style="text-align: center;font-size: 17px; font-weight: bold">
                        검색은 네이버를 기반으로 하고 있습니다.<br>
                    </div>

                </div>
            </div>
        </div>
        <div class="content_mid">
            <div class="mid_top">
                투표 결과 차트
            </div>
            <div class="mid_desc">
                <desc>키보드 1,2,3 번을 누르거나 아래의 버튼을 클릭하면 투표가 됩니다.</desc>
            </div>
            <div class="mid_btn_area">
                <input type="button" class="btn_vote" data="0" value="1번"/>
                <input type="button" class="btn_vote" data="1" value="2번"/>
                <input type="button" class="btn_vote" data="2" value="3번"/>
            </div>
            <div class="ct-chart">

            </div>
            <div class="mid_top">
                실시간 투표 참여 인원
            </div>
            <div class="mid_article">
                <vote_user_cnt>0</vote_user_cnt>명
            </div>
            <div class="mid_top">
                투표에서 제외된 ip 리스트 수
            </div>
            <div class="mid_article">
                <vote_except>0</vote_except>개
            </div>
            <div style="text-align: center;">
                반자동 검색 (정확도는 떨어지나 타자 치기 귀찮을 때 ) <input type="checkbox" class="cb_auto_search" value="반자동 검색"/>
            </div>
            <div style="text-align: center;" >
                <script type="text/javascript" src="//rsc.adpies.com/js/adpie-min.js?mediaId=5b18b0ef8aec491cc678ab2d&slotId=5b18b3108aec491cc678ab31&adType=banner&width=468&height=60&dtype=2"></script>
            </div>
        </div>
        <div class="content_right">
            <div class="chat_top">
                실시간 채팅 <sub>( 부정 투표자 아이디를 클릭하면 신고 가능 )</sub>
            </div>
            <div class="chat_root">
                <div class="chat_msg">
                    <ul class="chat_ul">
                    </ul>
                </div>
                <div class="chat_input">
                    <input class="ip_name" type="text"><input class="ip_msg" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="bottom_ads">
            <img src="/images/hotcom_banner.jpg" style="height: 60px;margin-left: 4px;margin-right: 4px; margin-top: 14px; margin-bottom: 14px;"/>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.sononpos.communityviwerex&hl=ko"><img src="/images/playstore.png" style="height: 60px;margin: 14px;"/></a>
            <a target="_blank" href="https://itunes.apple.com/kr/app/%ED%95%AB-%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0/id1237566765?l=en&mt=8"><img src="/images/appstore.png" style="height: 60px;margin: 14px;"/></a>

        </div>
    </div>
    <footer>
        <input type="button" class="btn_vote enjoy-css" data="0" value="1번"/>
        <input type="button" class="btn_vote enjoy-css" data="1" value="2번"/>
        <input type="button" class="btn_vote enjoy-css" data="2" value="3번"/>
    </footer>
    <div class="admin_msg">안녕하세요.</div>
</div>
<script>
    var tClick = 0;
    var bTrigger = false;
    var htmlBackup = '';
    var timerID = 0;
    var myid = -1;
    var autoSearchWordMap = new Map();
    var tLast = 0;
    var tAutoSearchFreeze = 0;

    $(document).ready(function(){
        (adsbygoogle = window.adsbygoogle || []).push({});

        var socket = io();
        registerSocketEvent(socket);
        registerKeyEvent(socket);
        registerClickEvent(socket);

        console.log('event register finish');

        setNickName();
        htmlBackup = $('.search_article').html();

        if( isMobile() ) {
            $('.content_left').css('display','none');
            $('.content_right').css('display','none');
            $('.content_mid').css('width','100%');
            $('.footer').css('display', 'none');
            $('.mid_btn_area').css('display', 'none');
            $('.header').css('text-align','center');
            $('.header').css('height','100px');
            $('.logo').css('width','100%');
            $('.logo').css('margin-left','0px');
            $('.logo').css('font-size','20px');
            $('.logo_bot').css('display', 'none');


        }
        else {
            $('footer').css('display','none');
        }
    });

    function registerClickEvent( socket ) {
        $(document).on('click', '.chat_name', function (e) {
            var name = $(this).text();
            if( confirm('신고가 모이면 이 아이피는 당분간 투표에 참여할 수 없습니다."' + name + '"를 신고하시겠습니까? ') ) {
                socket.emit('ban', {hash: $(this).attr('hash')});
            }
            e.preventDefault();
        });
    }

    function registerSocketEvent( socket ) {
        socket.on('myid', function(data) {
            myid = data.socket;
        })

        socket.on('vote_data', function(data) {
            var users = data.users;
            $('vote_user_cnt').text(users);
            $('vote_except').text(data.bans);
            var p = JSON.parse(data.cnt)._data;
            var ret = [0, 0, 0];
            var barLabelRet = [];
            var barDataSeriesRet = [[], [], []];
            for (var key in p) {
                var t = new Date(1970, 0, 1); // Epoch
                t.setSeconds(key);
                t.setHours(t.getHours() + 9 + 9);
                ret[0] += p[key][1][0];
                ret[1] += p[key][1][1];
                ret[2] += p[key][1][2];

                barLabelRet.push(t.toISOString());
                barDataSeriesRet[0].push({value: p[key][1][0]});
                barDataSeriesRet[1].push({value: p[key][1][1]});
                barDataSeriesRet[2].push({value: p[key][1][2]});
            }

            showBarChart('.ct-chart',['1번','2번','3번'],[ret], {
                seriesBarDistance: 10,
                height: 260,
                axisX: {
                    offset: 20
                },
                axisY: {
                    offset: 20
                }
            });
        });

        socket.on('chat', function(data) {
            if( data.mode == "vote" ) {
                addChat( data.isBaned, data.hash, data.nickname, '<b style="color: '+ color[data.vote] + '">' + data.msg + '</b>', false);
            }
            else if( data.mode == "search") {
                addChat( data.isBaned, data.hash, data.nickname, '<b style="color: #1b3440">' + data.msg + '</b>', false);
                if( data.id != myid && isAutoSearchChecked() ) {
                    var tCur = new Date();
                    if( tCur - tAutoSearchFreeze <= 5000) {
                        return;
                    }

                    if( tCur - tLast > 1500 ) {
                        autoSearchWordMap.clear();
                    }

                    tLast = tCur;

                    var arr = data.msg.substr(5).split(' ');
                    for( var i = 0 ; i < arr.length ; ++i ) {
                        autoSearchWordMap.put(arr[i], 1);
                    }

                    if( autoSearchWordMap.size() >= 4){
                        var s = '';
                        var aKeys = autoSearchWordMap.keys();
                        for( var i = 0 ; i < aKeys.length ; ++i  ) {
                            s += aKeys[i];
                            s += ' ';
                        }
                        autoSearchWordMap.clear();
                        tAutoSearchFreeze = tCur;
                        searchWeb(this, s, false);
                    }
                }
            }
            else {

                if( data.admin ) {
                    showAdminMsg(data.msg);
                    addChat( data.isBaned, data.hash, '<div class="admin_font">사이트관리자</div>', data.msg, false);
                }
                else {
                    addChat( data.isBaned, data.hash, data.nickname, data.msg, true);
                }

            }

            var rd = Math.floor(Math.random() * 30);
            if( rd == 15 ) {
                addBannerAds();
            }
        })

        socket.on('serv_msg', function(data) {
            alert(data.msg);
        })
    }

    function registerKeyEvent( socket ) {
        $('.ip_msg').keypress(function(e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if( code == 13 ) {
                var nick = getNickName();
                var msg = $(this).val();
                if( msg.length > 40 ) {
                    alert('메시지는 짧게');
                    $(this).val('');
                    return;
                }

                if( msg.length <= 0 ) {
                    return;
                }

                if( msg[0] == '/' ) {
                    $(this).val('/');
                    if( !isAutoSearchChecked() ) {
                        searchWeb(socket, msg.substr(1), true);
                    }
                    else {
                        showAdminMsg('반자동 검색을 해제 한 후에 검색을 사용할 수 있습니다');
                    }
                    return;
                }

                var isvote = -1;
                if( msg.search(/111+/g) != -1 || msg == "1") {
                    vote(socket, {idx:0});
                    isvote = 0;
                }
                else if( msg.search(/222+/g) != -1 || msg == "2" ) {
                    vote(socket, {idx:1});
                    isvote = 1;
                }
                else if( msg.search(/333+/g) != -1 || msg == "3") {
                    vote(socket, {idx:2});
                    isvote = 2;
                }

                if( isvote != -1 ) {
                    $(this).val('');
                    return;
                }

                nick = nick.substr(0,14);
                socket.emit('chat', {nickname: nick, msg: msg, isvote: isvote });
                $(this).val('');
            }
        })

        $(document).keypress(function(event) {
            if( $('.ip_name').is(':focus') ) return;
            if( $('.ip_msg').is(':focus') ) return;
            if( event.charCode >= 49 && event.charCode <= 51) {
                var curTime = new Date();
                if( curTime - tClick < 100 ) {
                    return;
                }
                tClick = curTime;

                var idx = event.charCode - 49;

                var nick = getNickName();
                var clicked = (idx+1);
                vote(socket, {idx: idx });
            }
            else {
                $('.ip_msg').val('');
                $('.ip_msg').focus();
                bTrigger = true;
            }
        })

        $('.ip_msg').keyup(function(e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if( bTrigger ) {
                bTrigger = false;
                if( $(this).val() != '/')
                    $(this).val('');
                return;
            }
            if( code == 27 ) {
                $(this).blur();
            }
        })

        $('.btn_vote').each(function(idx) {
            $(this).click(function() {
                var idx = $(this).attr('data');
                vote(socket, {idx:idx});
            });
        })
    }

    function addChat( isbaned, hash , name, msg, bStrip ) {
        var li = '<li>' +
                '<div class="chat_msg_obj">' +
                '<div class="chat_name '+ (isbaned ? 'baned' : '') +'" hash=' + hash + '>' +
                (bStrip ? strip(name) : name) +
                '</div>' +
                '<div class="chat_text">' +
                (bStrip ? strip(msg) : msg) +
                '</div>' +
                '</div>' +
                '</li>';

        $('.chat_ul').append(li);

        //  끝 정렬
        $('.chat_msg').scrollTop($('.chat_msg').get(0).scrollHeight);
    }

    function addBannerAds() {

    }

    function searchWeb( socket, query, isBroadcast ) {
        var nick = getNickName();
        socket.emit('search', {nickname: nick, msg: query });
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({
                query : query,
                isBroadcast : isBroadcast
            }),
            contentType: 'application/json',
            url: '/search',
            success: function(data) {
                setSearchRet(data);
            }
        });
    }

    function setSearchRet(items) {
        var html = '';
        for( var i = 0 ; i < items.length ; ++i) {
            var item = items[i];
            var div = '<div class="search_ret_root">' +
                            '<div class="search_ret_title">' +
                            item.title +
                            '</div><div class="search_ret_desc">' +
                            item.description +
                            '</div>' +
                            '</div>';

            html += div;
        }

        if( items.length == 0 ) {
            html = '검색 결과가 없습니다. 좀 더 신중한 검색!';
        }
        $('.search_article').html(html);
        clearTimeout(timerID);
        timerID = setTimeout(function() {
            $('.search_article').html(htmlBackup);
        }, 15000);
    }

    function getNickName() {
        var nick = strip($('.ip_name').val());
        nick = nick.substr(0,10);
        return nick;
    }

    function setNickName() {
        var rd = Math.floor(Math.random() * 500);
        $('.ip_name').val('손님' + rd);
    }

    function vote(socket, data) {
        data.nickname = getNickName();
        socket.emit('vote', data);
    }

    var animOpacityTimerID = -1;
    function showAdminMsg(msg) {
        var obj = $('.admin_msg');
        if( animOpacityTimerID != -1 ) {
            clearTimeout(animOpacityTimerID);
            animOpacityTimerID = -1;
            obj.removeClass('opacity');
            obj.addClass('non_opacity');
        }
        obj.addClass('opacity');
        obj.removeClass('non_opacity');
        $('.admin_msg').html(msg);
        $('.admin_msg').css('opacity', '0.85');
        animOpacityTimerID = setTimeout(function() {
            $('.admin_msg').css('opacity', '0');
        }, 7000);

    }

    function isAutoSearchChecked() {
        if($('.cb_auto_search').is(':checked')) {
            return true;
        }

        return false;
    }
</script>
</body>
</html>
