<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>

    <title>라이브 퀴즈 정답 공유기 v1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="/basic.js"></script>
    <script src="/myChart.js"></script>
    <link rel='stylesheet' href='/stylesheets/style_mobile.css' />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
<!-- HTML Design -->
<div id="root">
<div id="top-title">라이브 퀴즈 공유기 <span v-show="name_visible">- <span v-text="name">왕야옹</span><span v-show="ap_visible">(<span v-text="ap">0</span> 점)</span></span></div>
<div id="top-ads">
    <ins class="kakao_ad_area" style="display:none;width:100%"
         data-ad-unit    = "DAN-t87e91n4i053"
         data-ad-width   = "320"
         data-ad-height  = "50"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
</div>
    <div id="graph-area">
        <div class="ct-chart">
        </div>
    </div>
</div>
<div id="middle-ads">
    <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-1iyeys41mnepk"
         data-ad-width   = "320"
         data-ad-height  = "100"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
</div>
<div id="chat-area">
    <ul class="chat-ui">
    </ul>
</div>
<div id="bottom-ads">
    <ins class="kakao_ad_area" style="display:none;width:100%"
         data-ad-unit    = "DAN-rh5ikhi3t46a"
         data-ad-width   = "320"
         data-ad-height  = "50"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
</div>
<div id="vote-btn-area">
    <div type="vote-btn" value="0">1번</div>
    <div type="vote-btn" value="1">2번</div>
    <div type="vote-btn" value="2">3번</div>
    <div type="vote-btn" value="3">4번</div>
</div>
<div id="fix-btn-area">
    <div type="conn-cnt">0명</div>
    <div type="btn" id="btn-settings"><img src="/images/btn_settings.png"/></div>
    <% if( !username ) {%>
    <div type="btn" id="btn-login"><img src="/images/btn_login.png"/></div>
    <%}else {%>
    <div type="btn" id="btn-logout"><img src="/images/btn_logout.png"/></div>
    <%}%>
</div>
<div id="settings" v-show="visible">
    <div type="title">설정</div>
    <div type="checkbox"><input type="checkbox" :checked="maxVoteDuplicate.checked" @change="onChange(maxVoteDuplicate.storage, maxVoteDuplicate, $event)"/>최다 투표 동률시 미표시</div>
    <div type="checkbox"><input type="checkbox" :disabled="showMemberVoteOnly.disabled" :checked="showMemberVoteOnly.checked" @change="onChange(showMemberVoteOnly.storage, showMemberVoteOnly, $event)"/>렙4 이하 투표 거르기</div>
    <div type="checkbox"><input type="checkbox" :disabled="showAllServerVote.disabled" :checked="showAllServerVote.checked" @change="onChange(showAllServerVote.storage, showAllServerVote, $event)"/>모든 서버 투표 보기</div>
    <div type="msg">아래 설정값이하 미표시 ( <span class="min_vote" v-text="min_vote">0</span>표 이하 ) </div>
    <div class="min_vote_slider"></div>
    <div type="checkbox"><input type="checkbox" :checked="autoScroll.checked" @change="onChange(autoScroll.storage, autoScroll, $event)" />강제 자동 스크롤 on/off</div>
    <div type="checkbox"><input type="checkbox" id="cb_notshowsearchchat"/>검색 채팅 안받기</div>
    <div type="btn" @click="onBtnClose">닫기</div>
</div>
<div v-show="show" id="admin-msg-root">
    <div v-html="msg" :style="{opacity: opacity}" :class="{ opacity: isOpacity == 1, non_opacity: isNonOpacity == 1}"></div>
</div>
<div class="quiz_wnd">
    <div class="q_title">문제</div>
    <div style="height: 10px;"></div>
    <div class="q_q">보기1</div>
    <div class="q_q">보기2</div>
    <div class="q_q">보기3</div>
    <div><time>0</time></div>
</div>
</body>
<script type="text/javascript" src="/index_mobile.js"></script>
<script>
    $(document).ready(function(){
        if( !isMobile() ) {
            window.location.href = '/new';
            return;
        }

        var socket = io();
        global.init(socket);
    });
</script>
</html>
