$primary-color: #1b3440;
$main-font-color: #ffffff;
$wnd-width: 100vw;
$menu-width: 100px;
$article-width: calc(100vw - #{$menu-width} );
$chat-font-size: 14px;
$sub-color: yellow;

like {
  color:green;
}

search-top-ret {
  background-color: #ff9284;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

div.admin-nick {
  font-weight: bold;
  color: #510808;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: hidden;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: $main-font-color;
  color: $main-font-color;
}

separator {
  display: inline-block;
}

separator[role="menu"] {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
  background-color: $primary-color;
  width: $menu-width;
  height: 100%;
  text-align: center;

  div[type="line"] {
    height: 1px;
    width: 80px;
    background-color: $main-font-color;
    margin: 0 auto;
  }

  div[type="noti"] {
    width: 100%;
    color: yellow;
    height: 30px;
    margin-top: 2px;
  }

  div[type="msg"] {
    width: 100%;
    height: 30px;
    margin-top: 2px;
  }

  div[type="menu_btn"] {
    width: 100%;
    height: 30px;
    margin-top: 8px;
    cursor: pointer;
  }

  div[type="user-info"] {
    $padding: 2px;
    $width: calc(100% - #{$padding} - #{$padding});
    width: $width;
    padding: $padding;
    margin-top: 8px;
    name {
      display: inline-block;
      width: 100%;
      height: 30px;
      font-weight: bold;
    }

    lv {
      display: inline-block;
      width: 100%;
      height: 30px;
      font-size: 12px;
      color: $sub-color;
    }
  }
}

wnd[role="settings"] {
  $width: 300px;
  $line-width: $width / 10 * 9;
  position: fixed;
  top: 0;
  left: -300px;
  width: $width;
  height: 100%;
  background-color: $main-font-color;
  color: $primary-color;
  z-index: 2;
  box-shadow: 5px 0 0 0 $primary-color;
  text-align: center;
  overflow-y: auto;

  div[type="title"] {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  div[type="line"] {
    height: 1px;
    width: $line-width;
    background-color: $primary-color;
    margin: 0 auto;
  }

  div[type="checkbox"] {
    font-size: $chat-font-size;
    width: calc( 100% - 30px );
    height: 30px;
    text-align: left;
    margin: 9px;
  }

  div[type="btn"] {
  }

  div[type="msg"] {
    font-size: $chat-font-size;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .min_vote_slider {
    width: calc(90% - 20px);
    height: 10px;
    margin: 10px auto;
    z-index: 0;

    .ui-slider-handle {
      width: 15px;
      height: 15px;
    }
  }

  .ret_cnt_slider {
    width: calc(90% - 20px);
    height: 10px;
    margin: 10px auto;
    z-index: 0;

    .ui-slider-handle {
      width: 15px;
      height: 15px;
    }
  }

  #btn-exit {
  }
}

wnd[role="help"] {
  $width: 300px;
  $line-width: $width / 10 * 9;
  position: fixed;
  top: 0;
  left: -300px;
  width: $width;
  height: 100%;
  background-color: $main-font-color;
  color: $primary-color;
  z-index: 2;
  box-shadow: 5px 0 0 0 $primary-color;
  text-align: center;
  overflow-y: auto;

  div[type="title"] {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  div[type="line"] {
    height: 1px;
    width: $line-width;
    background-color: $primary-color;
    margin: 0 auto;
  }

  div[type="msg"] {
    text-align: left;
    font-size: $chat-font-size;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: $chat-font-size + 7px;
    padding: 8px;
  }
}

wnd[role="analysis"] {
  $width: 300px;
  $line-width: $width / 10 * 9;
  position: fixed;
  top: 0;
  left: -300px;
  width: $width;
  height: 100%;
  background-color: $main-font-color;
  color: $primary-color;
  z-index: 3;
  box-shadow: 5px 0 0 0 $primary-color;
  text-align: center;
  overflow-y: auto;

  div[type="title"] {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  btn {
    display: block;
    color: $primary-color;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  btn[disabled] {
    color: gray;
    cursor: default;
  }
}

article {
  display: inline-block;
  float: left;
  background-color: inherit;
  color: $primary-color;
  width: $article-width;
  height: 100%;

  .search_ret_root {
    color: $primary-color;
    margin: 8px;
  }

  div.search_ret_root[type="fromDB"] {
    background-color: $primary-color;
    color: $main-font-color;

    b {
      background-color: red;
    }
  }

  em {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    background-color: yellow;
  }

  .search_ret_title {
    font-size: 17px;
    margin-bottom: 5px;

    b {
      font-size: 16px;
      background-color: yellow;
    }
  }

  .search_ret_desc {
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 25px;

    b {
      font-size: 16px;
      background-color: yellow;
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    margin: 0 auto;
  }

  // 검색 결과창 1번
  separator[role="search-ret-1"] {
    float: left;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    $width: 33%;
    min-width: 200px;
    width: $width;
    height: 100%;
    //background-color: red;
    div[type="search-area-1"] {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    div[type="ads-area-1"] {
      text-align: center;
      width: 100%;
      overflow-y: hidden;
      top: 0;
      left: 0;
      //background-color: #7c2929;
      z-index: 2;

      div[type="title"] {
        width: 100%;
        font-size: 24px;
        color: $primary-color;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      div[type="sub-title"] {
        width: 100%;
        font-size: 15px;
        color: $primary-color;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    div[type="memo"] {
      text-align: left;
      margin-top: 20px;
      margin-left: 12px;
      margin-right: 12px;
      color: $primary-color;
    }
  }

  separator[role="search-ret-2"] {
    float: left;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    $width: 33%;
    min-width: 200px;
    width: $width;
    height: 100%;
    //background-color: green;

    img[type="shortcut"] {
      width: 100%;
    }

    div[type="search-area-2"] {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    div[type="ads-area-2"] {
      text-align: center;
      width: 100%;
      overflow-y: hidden;
      top: 0;
      left: 0;
      //background-color: #7c2929;
      z-index: 2;

      div[type="title"] {
        width: 100%;
        font-size: 24px;
        color: $primary-color;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      div[type="sub-title"] {
        width: 100%;
        font-size: 15px;
        color: $primary-color;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    div[type="caution"] {
      text-align: left;
      font-size: 20px;
      color: red;
      font-weight: bold;
      line-height: 35px;
    }

    memo-area {
      width: 80%;
      height: 200px;
    }
  }


$vote-and-chat-width: 34%;
  separator[role="vote-and-chat"] {
    float: left;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    $width: $vote-and-chat-width;
    width: $width;
    height: 100%;
  }

  $vote-graph-height: 180px;
  $ads-height: 100px;
  $ads-2-height: 65px;

  separator[role="vote-graph"] {
    width: 100%;
    height: $vote-graph-height;
  }

  separator[role="ads-area"] {
    width: 100%;
    height: $ads-height;
  }

  separator[role="ads-area-2"] {
    width: 100%;
    height: $ads-2-height;
  }

  separator[role="chat-area"] {
    width: 100%;
    height: calc(100% - #{$vote-graph-height} - #{$ads-height} - #{$ads-2-height});
    background-color: white;

    $input-height: 32px;
    $margin: 8px;
    $padding: 10px;

    div[type="search-ret-rank"] {
      position: absolute;
      top: $vote-graph-height + $ads-height;
      width: calc( #{$vote-and-chat-width} - #{$margin} - #{$margin} - 20px );
      height: 300px;
      padding: 8px;
      opacity: 0.75;
      background-color: $primary-color;
      color: $main-font-color;
      z-index: 2;

      li.btn-search-ret-rank {
        margin-top: 5px;
        text-align: center;
        width: 100%;
        list-style: none;
        height: 32px;
        line-height: 32px;
      }

      div.h1 {
        font-size: 20px;
        text-align: center;
      }

      div.s1 {
        font-size: 14px;
        text-align: center;
      }

      .btn-search-ret-rank {
        cursor: pointer;
      }
    }

    div[type="chat-msg"] {
      width: 100%;
      height: calc( 100% - #{$input-height} );
      ul.chat-ui {
        list-style: none;
        overflow-y: auto;
        margin: $margin auto;
        border-radius: 5px;
        box-shadow: -4px 4px 0 0 black;
        border: 2px solid gray;
        padding: $padding;
        width: calc(100% - #{$margin} - #{$margin});
        height: calc(100% - #{$margin} - #{$margin});
        background-color: white;

        $msg-min-line-height: 26px;
        div[type="msg-obj"] {
          min-height: $msg-min-line-height;
          line-height: $msg-min-line-height;
          width: 100%;
          font-size: $chat-font-size;

          $nick-width: 180px;
          [type="nick"] {
            display: inline-block;
            float: left;
            width: $nick-width;
            min-height: $msg-min-line-height;
            line-height: $msg-min-line-height;
            cursor: pointer;

            $img-width: $msg-min-line-height - 6px;
            img[type="grade"] {
              float: left;
              width: $img-width;
              height: $img-width;
              vertical-align: middle;
            }

            div[type="nick-only"] {
              float: left;
            }

            div[type="ip-only"] {
              font-size: 11px;
              float: left;
            }
          }

          [type="msg"] {
            float: left;
            width: calc(100% - #{$nick-width});
            min-height: $msg-min-line-height;
          }
        }
      }
    }

    div[type="chat-input"] {
      width: 100%;
      height: $input-height;
      margin-top: -10px;
      padding: 0;
      $name-width: 150px;
      $name-margin-left: 10px;
      $msg-margin-right: 10px;

      .ip-name {
        padding: 0;
        display: inline-block;
        float: left;
        width: $name-width;
        height: $input-height;
        margin-left: $name-margin-left;
        border-radius: 3px;
      }

      .ip-msg {
        display: inline-block;
        float: left;
        margin-right: $msg-margin-right;
        height: $input-height;
        width: calc(100% - #{$name-width} - #{$name-margin-left} - #{$msg-margin-right});
        border-radius: 3px;
      }
    }
  }
}

notice-nick {
  color: blue;
}

.admin_msg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  min-height: 60px;
  padding: 15px;
  margin-left: -20vw;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 17px;
  opacity: 0;
  overflow: hidden;
}

.user-menu{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: -150px;
  padding: 20px;
  background-color: $primary-color;
  color: $main-font-color;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 5;

  div[type="name"] {
    height: 50px;
  }

  div[type="menu"] {
    text-align: center;
    div[type="btn"] {
      cursor: pointer;
      width: 200px;
      height: 40px;
      line-height: 40px;
      background-color: $main-font-color;
      color: $primary-color;
      margin: 4px auto;
      border-radius: 10px;
    }
  }
}

.quiz_wnd{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26vw;
  margin-left: -13vw;
  margin-top: -150px;
  padding: 20px;
  background-color: #1b3440;
  color: #F5F1D5;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  opacity: 0.9;
  z-index: 1;

  .q_title {
    text-align: left;
    margin: 10px;
    min-height: 35px;
  }

  .q_q {
    margin: 8px;
    text-align: left;
  }
}

.popup_wnd {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 600px;
  margin-left: -240px;
  margin-top: -300px;
  text-align: center;
  overflow: hidden;
  z-index: 3;

  div[name="top"] {
    height: 30px;
    background-color: $primary-color;
    padding-left: 8px;
    line-height: 30px;
    text-align: left;

    div[name="close"] {
      float:right;
      margin-right: 8px;
      line-height: 30px;
      cursor: pointer;
    }
  }


  img[name="ads"] {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: $main-font-color;
  }

  div[name="go_reserv"] {
    height: 50px;
    background-color: $primary-color;
    font-size: 20px;
    line-height: 50px;
  }
}

.opacity {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.non_opacity {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}