$primary-color: #1b3440;
$main-font-color: #ffffff;
$color-main-back: #ffffff;
$color-shadow: #e4e6e8;
$color-back: #f2f4f7;
$color-main-font: #393939;
$color-sub-font: #626262;
$color-sub2-font: #6e6e6e;
$color-yellow-font: #e9bd25;
$color-border: #e5e5e5;

$wnd-width: 100vw;
$menu-width: 100px;
$graph-height: 80px;
$article-width: calc(100vw - #{$menu-width} );
$font-title-size: 15px;
$font-chat-size: 11px;
$font-quiz-text: 13px;
$font-large: 15px;
$sub-color: yellow;

.ct-label {
  color: $color-main-font;
}


body {
  background-color: $color-main-back;
  color: $color-main-font;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

div#top-ads {
  min-height: 50px;
}

div#middle-ads {
  min-height: 100px;
}

div#bottom-ads {
  min-height: 50px;
}

$top-title-height: 20px;
$top-title-margin: 4px;

div#top-title {
  height: $top-title-height;
  width: 100%;
  line-height: $top-title-height;
  font-size: $font-title-size;
  font-weight: bold;
  margin-left: 10px;
  margin-top: $top-title-margin;
  margin-bottom: $top-title-margin;
}

$vote-btn-height: 80px;

div#chat-area {
  width: 100%;
  height: calc(100vh - 150px - #{$graph-height} - #{$top-title-height} - #{$top-title-margin} - #{$top-title-margin} - #{$vote-btn-height} - 50px );
  font-size: $font-chat-size;

  $margin: 8px;
  $padding: 4px;

  ul.chat-ui {
    list-style: none;
    overflow-y: scroll;
    margin: $margin auto;
    border-radius: 5px;
    box-shadow: -4px 4px 0 0 black;
    border: 2px solid gray;
    padding: $padding;
    width: calc(100% - #{$margin} - #{$margin});
    height: calc(100% - #{$margin} - #{$margin} - 30px );
    background-color: white;
    color: $primary-color;

    div[type="msg-root"] {
      width: calc( 100% - 5px );
      min-height: 30px;

      $nick-width: 65px;
      $image-width: 20px;
      $min-height: 30px;
      div[type="image"] {
        float: left;
        width: $min-height;
        height: $min-height;

        img {
          width: 20px;
          height: 20px;
          padding: 5px;
        }
      }

      div[type="nick"] {
        float: left;
        width: $nick-width;
        min-height: $min-height;
        line-height: $min-height;
        text-align: left;


      }

      div[type="msg"] {
        float: left;
        width: calc( 100% - 5px - #{$nick-width} - #{$min-height} );
        min-height: $min-height;
        line-height: $min-height;
      }
    }
  }

  #ip-msg {
    float: left;
    width: 70%;
    height: 15px;
  }

  #btn-send-msg {
    float: left;
    width: 25%;
    height: 25px;
    margin-left: 4px;
  }
}

div#vote-btn-area {
  height: $vote-btn-height - 24px;
  width: 100%;
  div[type="vote-btn"] {
    float: left;
    height: 100%;
    line-height: 60px;
    width: 25%;
    border-radius: 6px;
    text-align: center;
    background-color: $primary-color;
    color: $sub-color;
    border-color: $main-font-color;
  }
}

div#fix-btn-area {
  opacity: 0.8;
  position: fixed;
  right: 8px;
  bottom: calc( #{$vote-btn-height} + 80px );
  margin-top: -10px;
  width: 60px;
  height: 145px;
  color: $primary-color;
  text-align: center;

  div[type="conn-cnt"] {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
  }

  div[type="btn"] {
    height: 60px;

    img {
      height: 50px;
      widht: 50px;
    }
  }
}

div#settings {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $main-font-color;
  color: $primary-color;
  padding: 10px;

  $height: 34px;
  div[type="checkbox"] {
    height: $height;
  }

  .min_vote_slider {
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc( 100% - 20px );
  }

  div[type="btn"] {
    width: calc( 100% - 20px );
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: $primary-color;
    color: $main-font-color;
  }
}

#admin-msg-root {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  min-height: 60px;
  margin-left: -45vw;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: $font-chat-size;
  opacity: 1;
  overflow: hidden;
}

.quiz_wnd{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88vw;
  margin-left: -44vw;
  margin-top: -150px;
  padding: 0px;
  background-color: $primary-color;
  color: $main-font-color;
  text-align: center;
  font-size: $font-quiz-text;
  overflow: hidden;
  z-index: 3;
  border-radius: 8px;

  .q_title {
    text-align: left;
    margin: 10px;
    min-height: 35px;
  }

  .q_q {
    margin: 8px;
    text-align: left;
  }

  time {
    color: $sub-color;
    font-size: $font-large;
    margin-bottom: 8px;
    line-height: 30px;
    height: 30px;
  }
}


.opacity {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.non_opacity {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}