$chat-font-size: 14px;
$primary-color: #1b3440;
$main-font-color: #ffffff;

$color-main-back: #ffffff;
$color-shadow: #e4e6e8;
$color-back: #f2f4f7;
$color-main-font: #393939;
$color-sub-font: #626262;
$color-sub2-font: #6e6e6e;
$color-yellow-font: #e9bd25;
$color-border: #e5e5e5;

$search-font-size-basic: 17px;
$search-font-size-large: 18px;
$search-font-size-basic-line-height: 18px;
$search-font-size-large-line-height: 20px;
$search-color-find-bg: #e9bd25;
$search-color-find-other-bg: #0ABE64;


body {
  background-color: $color-back;
  color: $color-main-font;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  font-family: 'Nanum Barun Gothic', sans-serif;
}

$vote-list-width: 400px;

#vote-list {
  position: fixed;
  width: $vote-list-width;
  height: 400px;
  background-color: $color-main-back;
  left: 0px;
  z-index: 99999;
  text-align: center;
  border:2px dotted black;

  .top-bar {
    height: 40px;
    line-height: 40px;
  }

  #vote-list-inner {
    height: 310px;
    overflow-y: auto;
  }

  #btn-vote-list-close {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: green;
  }
}

$top-height: 65px;
$top-bottom-margin: 5px;

#area-top {
  $height: $top-height;
  background-color: $color-main-back;
  width: 100%;
  height: $height;
  box-shadow: 0 $top-bottom-margin 0 0 $color-shadow;

  #area-top-left {
    $width: 450px;
    float: left;
    height: $height;
    line-height: $height;
    margin-left: 56px;

    img {
      vertical-align: middle;
      height: $top-height - 3px;
    }

    #logo {
      float: left;
    }

    #server-list {
      float: left;
      margin: 0 0 0 26px;
      height: $height;

      .serv {
        float: left;
        margin: 0 4px 0 0;
        height: $height / 2;
        line-height: $height / 2;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
      }
    }

    .curserv {
      float: left;
      margin: 0 25px 0 0;
      font-size: 20px;
      font-weight: bold;

      nc {
        color: $color-yellow-font;
      }
    }

    .left {
      float: left;
    }

    .topitem {
      margin: 0 8px;
    }

    #naver-cafe-icon {
      height: calc( #{$top-height} - 20px );
    }

    #quiz-timetable-icon {
      height: calc( #{$top-height} - 20px );
      cursor: pointer;
    }

    #clock {
      font-weight: bold;
      font-size: 20px;
      color: $color-main-font;

      .name {
        background-color: $color-yellow-font;
      }
    }
  }

  #area-top-center {
    $width: 360px;
    $font-size-sub: 17px;
    $font-size-main: 20px;

    position: absolute;
    width: $width;
    height: $height;
    top: 0;
    left: 50%;
    margin-left:  ($width * -1) / 2;
    text-align: center;
    color:$color-main-font;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: bold;

    #quizinfo-title {
      font-size: $font-size-sub;
      height: 15px;
      padding-top: 10px;
    }

    #quizinfo-main {
      font-size: $font-size-main;
      height: 45px;
      line-height: 50px;

      next-quiz-type {
        color: $color-yellow-font;
      }
    }
  }

  #area-top-right {

    float: right;
    height: $height;
    line-height: $height;
    margin-right: 32px;

    .area-top-btn {
      font-size: 18px;
      float: right;
      margin: 0 15px 0 0;
      cursor: pointer;
    }

    .area-login-info {
      font-size: 18px;
      font-weight: bold;
      float: right;
      margin: 0 30px 0 0;
    }

    #btn-login {
      color: #0086B3;
    }
  }
}

#area-article {
  $area-article-height: calc( 100vh - 13px - #{$top-height} - #{$top-bottom-margin} );
  margin-top: 13px;
  margin-left: 17px;
  margin-right: 17px;
  width: calc( 100% - 34px );
  height: $area-article-height;
  overflow-y: hidden;


  /**/

  .search_ret_root {
    color: $primary-color;
    margin: 5px;
  }

  div.search_ret_root[type="fromDB"] {
    background-color: $primary-color;
    color: $main-font-color;

    b {
      background-color: red;
    }
  }

  em {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    background-color: $color-yellow-font;
  }

  .search_ret_title {
    font-size: 17px;
    margin-bottom: 5px;

    b {
      font-size: 17px;
      background-color: $color-yellow-font;
    }
  }

  .search_ret_desc {
    font-size: $search-font-size-basic;
    margin-bottom: 8px;
    line-height: $search-font-size-large-line-height;

    b {
      font-size: $search-font-size-large;
      background-color: $search-color-find-bg;
    }

    strong.hl {
      font-size: $search-font-size-large;
      background-color: $search-color-find-bg;
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    margin: 0 auto;
  }

  /**/


  #article-left {
    $global-hint-height: 0px;
    $bottom-margin: 13px;
    $notice-height: 160px - $bottom-margin;
    $hint-height: calc( 100vh - 13px - #{$top-height} - #{$top-bottom-margin} - #{$notice-height} - #{$global-hint-height});
    $article-left-width: calc(35% - 13px);
    $user-list-width: 130px;
    $user-list-width-without-gap: calc( #{$user-list-width} - 16px - 2px );
    $hint-width: calc(100% - #{$user-list-width} );
    $article-left-width-ie: ( 35vh / 100vh * 100% );

    float: left;
    margin: 0px;
    padding: 0px 13px 0 0;
    width: $article-left-width;
    height: 100%;

    /* 검색 영역 Left */
    #search-area-left {
      position: absolute;
      width: calc( #{$article-left-width-ie} - 13px ); /* for ie */
      width: calc( #{$article-left-width} - 13px );
      height: $area-article-height;
      overflow-y: auto;
      background-color: $color-main-back;
      color: $color-main-font;
      z-index: 100;
      font-family: 'Nanum Barun Gothic', sans-serif;
      font-size: $search-font-size-basic;
    }

    #site-info-notice {
      $site-info-width: 80px;
      $margin-right: 13px;
      $notice-width: calc( 100% - #{$site-info-width} - #{$margin-right} - 2px - 2px );
      width: 100%;
      height: $notice-height;
      margin-bottom: $bottom-margin;
      font-family: 'Nanum Barun Gothic', sans-serif;
      overflow-y: hidden;

      #site-info {
        float: left;
        width: $site-info-width;
        height: $notice-height;
        border: 1px solid $color-border;
        margin: 0 $margin-right 0 0;
        background-color: $color-main-back;

        #conn-cnt-wrapper {
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          height: $notice-height;
          width: $site-info-width;
          display: table-cell;
          vertical-align: middle;
          line-height: 23px;
        }
      }

      #notice {
        width: $notice-width;
        height: 100%;
        float: left;
        background-color: $color-main-back;
        margin-bottom: $bottom-margin;
        border: 1px solid $color-border;
        font-family: 'Nanum Barun Gothic', sans-serif;
        overflow-y: auto;

        [type="title"] {
          margin: 12px 0 12px 0;
          color: $primary-color;
          font-size: 24px;
          font-weight: bold;
        }
        [type="msg"] {
          font-size: 15px;
          color: black;
          font-weight: bold;
          margin: 6px 0 6px 0;
        }
      }
    }

    #global-hint {
      height: $global-hint-height;
    }

    #hint {
      $top-menu-height: 46px;
      $hint-article-height: calc( #{$hint-height} - #{$top-height} );
      width: $hint-width;
      height: $hint-height;
      float: left;
      background-color: $color-main-back;
      border: 1px solid $color-border;
      font-family: 'Nanum Barun Gothic', sans-serif;

      [type="top-menu"] {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        height: $top-menu-height;
        line-height: $top-menu-height;
        border-bottom: 1px solid $color-border;

        hint-provider {
          margin: 0 0 0 25px;
          color: $color-yellow-font;
        }

        #btn-modify-hint {
          float: right;
          margin-right: 14px;
          font-size: 16px;
          height: $top-menu-height;
          line-height: $top-menu-height;
          cursor: pointer;
        }

        #btn-modify-hint-cancel {
          float: right;
          margin-right: 14px;
          font-size: 16px;
          height: $top-menu-height;
          line-height: $top-menu-height;
          cursor: pointer;
        }
      }

      #hint-article-area {
        width: calc( 100% - 20px );
        height: $hint-article-height;
        overflow-y: auto;
        padding: 0 10px 0 10px;
        font-size: 14px;
        font-family: 'Nanum Barun Gothic', sans-serif;
      }

      #hint-modify-area {
        width: calc( 100% - 20px );
        height: $hint-article-height;
        overflow-y: auto;
        padding: 0 10px 0 10px;
        font-size: 14px;

        .memo-area {
          margin: 0;
          padding: 0;
          width: calc( 100% - 20px );
          height: calc( #{$hint-article-height} - 20px );
        }
      }
    }

    #user-list-area {
      $top-menu-height: 46px;
      $hint-article-height: calc( #{$hint-height} - #{$top-height} );

      float: left;
      width: $user-list-width-without-gap;
      height: $hint-height;
      padding: 0;
      margin: 0 0 0 13px;
      background-color: $color-main-back;
      border: 1px solid $color-border;

      [type="top-menu"] {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        height: $top-menu-height;
        line-height: $top-menu-height;
        border-bottom: 1px solid $color-border;
        text-align: center;
      }

      #conn-users-list-wrapper {
        height: $hint-article-height;
        overflow-y: auto;
        #conn-users-list {
          list-style: none;
          overflow-y: auto;
          margin: 0;
          padding: 0 0 0 4px;

          .btn-user-info {
            margin: 5px 0 0 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  #article-center {
    $bottom-margin: 13px;
    $random-quiz-height: 310px - $bottom-margin;
    $article-center-width: calc( 35% - 13px );
    $article-center-width-ie: ( 35vh / 100vh * 100% );
    $ads-banner-center-height: 100px;
    $ads-banner2-center-height: 50px;
    float: left;
    margin: 0 13px 0 0;
    padding: 0px;
    height: 100%;
    width: $article-center-width;

    /* 검색 영역 Center */
    #search-area-center {
      position: absolute;
      width: calc( #{$article-center-width-ie} - 13px );
      width: $article-center-width;
      height: $area-article-height;
      background-color: $color-main-back;
      color: $color-main-font;
      overflow-y: auto;
      z-index: 100;
      font-family: 'Nanum Barun Gothic', sans-serif;
      font-size: $search-font-size-basic;
    }

    #video-ads-area {
      width: 100%;
      height: $random-quiz-height;
      background-color: $color-main-back;
    }

    #jaum-quiz {
      width: 100%;
      height: $random-quiz-height;
      line-height: $random-quiz-height;
      font-weight: bolder;
      font-size: 22px;
      text-align: center;
      background-color: $color-main-back;
      border: 1px solid $color-border;
    }

    #jaum-quiz {
      width: 100%;
      height: $random-quiz-height;
      line-height: $random-quiz-height;
      font-weight: bolder;
      font-size: 22px;
      text-align: center;
      background-color: $color-main-back;
      border: 1px solid $color-border;
    }

    #random-quiz {
      width: 100%;
      $random-quiz-question-height: 100px;

      background-color: $color-main-back;
      height: $random-quiz-height;
      font-family: 'Nanum Barun Gothic', sans-serif;
      border: 1px solid $color-border;

      [type="top-menu"] {
        $top-menu-height: 46px;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        height: $top-menu-height;
        line-height: $top-menu-height;
        border-bottom: 1px solid $color-border;

        quiz-provider {
          margin: 0 0 0 25px;
          color: $color-yellow-font;
        }

        #btn-toggle-quiz {
          float: right;
          margin-right: 14px;
          font-size: 16px;
          height: $top-menu-height;
          line-height: $top-menu-height;
          cursor: pointer;
        }
      }

      #random-quiz-question-wrapper {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        height: $random-quiz-question-height;
        padding: 0 40px;
        display: table-cell;
        vertical-align: middle;
      }

      #random-quiz-question {
        text-align: center;
        line-height: 27px;
        word-break: break-all;
      }

      .random-quiz-answer {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        height: 40px;
        line-height: 40px;
      }

      .qsel {
        color: $color-yellow-font;
      }

      .gauge-wrapper {
        height: 8px;
        margin: 10px 40px;
        width: calc( 100% - 80px );

        .gauge {
          width: 100%;
          height: 8px;
          background-color: $color-yellow-font;
          border: 3px solid $color-shadow;
        }
      }
    }

    #ads-banner-center {
      margin: $bottom-margin 0 0 0;
      width: 100%;
      height: $ads-banner-center-height;
      overflow-y: hidden;
    }

    #ads-banner2-center {
      margin: $bottom-margin 0 0 0;
      width: 100%;
      height: $ads-banner2-center-height;
      overflow-y: hidden;
    }

    #ads-img1-center {
      margin: $bottom-margin 0 0 0;
      float: left;
      width: 300px;
      height: 250px;
      border: 1px solid $color-border;
    }

    #conn-users-list {
      margin: $bottom-margin $bottom-margin 0 0;
      float: left;
      min-width: 180px;
      height: 250px;
      border: 1px solid $color-border;
      background-color: $color-main-back;
    }
  }

  /* Chat Area */
  #article-right {
    $bottom-margin: 13px;
    $top-menu-height: 46px;
    $article-right-width: calc( 30% - 5px );
    $vote-data-height: 160px;
    $ads-banner-center-height: 50px;
    $chat-root-height-ie: 400px;
    $chat-root-height: calc( 100vh - 13px - #{$top-height} - #{$top-bottom-margin} - #{$vote-data-height} - #{$bottom-margin} - #{$ads-banner-center-height} - #{$bottom-margin});

    float: left;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: $article-right-width;

    #vote-data {
      border: 1px solid $color-border;
      background-color: $color-main-back;
      height: $vote-data-height;

      [type="top-menu"] {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        height: $top-menu-height;
        line-height: $top-menu-height;
        border-bottom: 1px solid $color-border;

        vtitle {
          margin: 0 0 0 25px;
        }

        #check-all-server-vote {
          float: right;
          margin-right: 14px;
          font-size: 16px;
          height: $top-menu-height;
          line-height: $top-menu-height;
          cursor: pointer;
        }
      }
    }

    #ads-banner-right {
      margin: $bottom-margin 0 0 0;
      width: 100%;
      height: $ads-banner-center-height;
      overflow-y: hidden;
    }

    #chat-wnd-root {
      $top-menu-height: 46px;
      $chat-msg-height: 38px;

      margin: $bottom-margin 0 0 0;
      width: 100%;
      height: $chat-root-height;
      background-color: $color-main-back;
      border: 1px solid $color-border;


      div#search-ret-rank {
        position: absolute;
        top: $top-height + $top-bottom-margin + $vote-data-height + $bottom-margin + $ads-banner-center-height;
        width: 400px;
        height: 300px;
        padding: 8px;
        opacity: 0.75;
        background-color: $primary-color;
        color: $main-font-color;
        z-index: 2;

        li.btn-search-ret-rank {
          margin-top: 5px;
          text-align: center;
          width: 100%;
          list-style: none;
          height: 32px;
          line-height: 32px;
        }

        div.h1 {
          font-size: 20px;
          text-align: center;
        }

        div.s1 {
          font-size: 14px;
          text-align: center;
        }

        .btn-search-ret-rank {
          cursor: pointer;
        }
      }

      [type="top-menu"] {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        height: $top-menu-height;
        line-height: $top-menu-height;
        border-bottom: 1px solid $color-border;

        vtitle {
          margin: 0 0 0 25px;
        }

        #btn-get-vote-list {
          float: right;
          margin-right: 14px;
          font-size: 16px;
          height: $top-menu-height;
          line-height: $top-menu-height;
          cursor: pointer;
        }

        #btn-clear-chat {
          float: right;
          margin-right: 14px;
          font-size: 16px;
          height: $top-menu-height;
          line-height: $top-menu-height;
          cursor: pointer;
        }
      }

      #chat {
        $margin-left-right: 25px;
        $height: calc( #{$chat-root-height} - #{$top-menu-height} - #{$chat-msg-height} - 8px );
        $width: calc( 100% - #{$margin-left-right} - #{$margin-left-right} );
        $nick-area-width: 168px;
        $msg-area-width-ie: calc( 100% - #{$margin-left-right} - #{$margin-left-right} - #{$nick-area-width} );
        $msg-area-width: calc( #{$width} - #{$nick-area-width} );
        $grade-image-wh: 18px;
        $line-height: 23px;
        font-size: 13px;
        width: $width;
        height: $chat-root-height-ie;
        height: $height;
        margin: 0 $margin-left-right 0 $margin-left-right;
        background-color: $color-main-back;

        ul.chat-ui {
          height: $chat-root-height-ie;
          height: $height;
          list-style: none;
          overflow-y: auto;
          padding: 0;
          margin: 0;

          /* 채팅 아이템 */
          li div.chat-msg-item {
            .nick-area {
              cursor: pointer;
              float: left;
              width: $nick-area-width;
              height: $line-height;
              line-height: $line-height;
              .grade {
                float: left;
                width: $grade-image-wh;
                height: $grade-image-wh;
                img {
                  width: $grade-image-wh;
                  height: $grade-image-wh;
                  vertical-align: middle;
                }
              }

              .nick {
                float: left;
                padding-left: 4px;
                font-size: 13px;
              }

              .ip {
                float: left;
                font-size: 9px;
                line-height: $line-height;
              }
            }

            .msg-area {
              float: left;
              width: $msg-area-width-ie;
              width: calc( #{$msg-area-width} + #{$margin-left-right} + #{$margin-left-right} );
              min-height: 25px;
              line-height: $line-height;
            }
          }
        }
      }

      #chat-input-area {
        $ip-name-width: 140px;
        height: $chat-msg-height;

        #ip-nick {
          width: $ip-name-width;
          height: $chat-msg-height;
          margin: 0;
          padding: 0;
          border: 1px solid $color-border;
        }

        #ip-msg {
          width: calc( 100% - #{$ip-name-width} - 4px );
          height: $chat-msg-height;
          margin: 0;
          padding: 0;
          border: 1px solid $color-border;
        }
      }
    }
  }
}

.admin_msg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  min-height: 60px;
  padding: 15px;
  margin-left: -20vw;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 17px;
  opacity: 0;
  overflow: hidden;
  z-index: 199999;
}

.opacity {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.non_opacity {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

#notice-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 104;
  text-align: center;

  #notice-wnd {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: rgba(255,255,255,1.0);
    overflow-y: auto;
  }
}

#settings {
  $width: 300px;
  $line-width: $width / 10 * 9;
  position: fixed;
  top: 0;
  left: -300px;
  width: $width;
  height: 100%;
  background-color: $main-font-color;
  color: $primary-color;
  z-index: 102;
  box-shadow: 5px 0 0 0 $primary-color;
  text-align: center;
  overflow-y: auto;

  div[type="title"] {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  div[type="line"] {
    height: 1px;
    width: $line-width;
    background-color: $primary-color;
    margin: 0 auto;
  }

  div[type="checkbox"] {
    font-size: $chat-font-size;
    width: calc( 100% - 30px );
    height: 30px;
    text-align: left;
    margin: 9px;
  }

  div[type="btn"] {
  }

  div[type="msg"] {
    font-size: $chat-font-size;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .min_vote_slider {
    width: calc(90% - 20px);
    height: 10px;
    margin: 10px auto;
    z-index: 0;

    .ui-slider-handle {
      width: 15px;
      height: 15px;
    }
  }

  .ret_cnt_slider {
    width: calc(90% - 20px);
    height: 10px;
    margin: 10px auto;
    z-index: 0;

    .ui-slider-handle {
      width: 15px;
      height: 15px;
    }
  }

  #btn-exit {
  }
}


.user-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  margin-left: 10px;
  margin-top: 25px;
  padding: 20px;
  background-color: $color-main-back;
  color: $color-main-font;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid $color-main-font;
  z-index: 29999;

  div[type="name"] {
    height: 50px;
  }

  div[type="menu"] {
    text-align: center;
    div[type="btn"] {
      cursor: pointer;
      width: 200px;
      height: 40px;
      line-height: 40px;
      background-color: $color-main-back;
      color: $color-main-font;
      margin: 4px auto;
      border-radius: 10px;
    }
  }
}

search-top-ret {
  background-color: $search-color-find-other-bg;
  color: black;
  font-size: $search-font-size-large;
  font-weight: bold;
}

title-prefix-ex {
  color: blue;
  font-size: 14px;
}

title-prefix {
  font-size: 14px;
}

title-prefix.krdic {
  color: red;
  font-weight: bolder;
}

title-prefix.hdic {
  color: blueviolet;
  font-weight: bolder;
}

title-prefix.edic {
  color: blue;
  font-weight: bolder;
}

title-prefix.dongyo {
  color: crimson;
  font-weight: bolder;
}

title-prefix.cb1 {
  color: #000066;
  font-weight: bolder;
}

title-prefix.cb2 {
  color: #1B3440;
  font-weight: bolder;
}

title-prefix.cb3 {
  color: #006600;
  font-weight: bolder;
}

title-prefix.cb4 {
  color: #440044;
  font-weight: bolder;
}

title-prefix.cb5 {
  color: #663366;
  font-weight: bolder;
}

title-prefix.cb6 {
  color: #ff2a00;
  font-weight: bolder;
}

.kin_style {
  color: #006600;
  font-weight: bold;
}

.btn-ban-list-ban {
  cursor: pointer;
}

.btn-ban-list-like {
  cursor: pointer;
}