

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type='text'] {
  height:30px;
}


#app {
  margin: 20px;

  .menu {
    margin: 16px;
  }
}

#search-quiz-ret {

  .searched {
    margin: 8px 0;
  }

  .collect {
    background-color: #0ABE64;
  }

  button {
    margin: 0 8px;
    width: 90px;
  }

  .question {
    width: 600px;
    height: 50px;
  }
}

#addView {
  #ta-insert-question {
    width: 600px;
    height: 50px;
  }

  #btn-insert {
    width: 100%;
    height: 30px;
  }
}