@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  max-height: 1000000px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2f4f7;
  color: #393939;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  font-family: 'Nanum Barun Gothic', sans-serif;
}

#vote-list {
  position: fixed;
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  left: 0px;
  z-index: 99999;
  text-align: center;
  border: 2px dotted black;
}
#vote-list .top-bar {
  height: 40px;
  line-height: 40px;
}
#vote-list #vote-list-inner {
  height: 310px;
  overflow-y: auto;
}
#vote-list #btn-vote-list-close {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: green;
}

#area-top {
  background-color: #ffffff;
  width: 100%;
  height: 65px;
  -webkit-box-shadow: 0 5px 0 0 #e4e6e8;
          box-shadow: 0 5px 0 0 #e4e6e8;
}
#area-top #area-top-left {
  float: left;
  height: 65px;
  line-height: 65px;
  margin-left: 23px;
}
#area-top #area-top-left img {
  vertical-align: middle;
  height: 62px;
}
#area-top #area-top-left #logo {
  display: inline-block;
}
#area-top #area-top-left #serv-info {
  font-family: 'Nanum Barun Gothic', sans-serif;
  display: inline-block;
  margin: 0 0 0 20px;
}
#area-top #area-top-left #serv-info .icon {
  height: 26px;
}
#area-top #area-top-left #serv-info .info {
  display: inline-block;
  min-width: 50px;
  margin: 0 6px;
}
#area-top #area-top-left .left {
  float: left;
}
#area-top #area-top-left .topitem {
  margin: 0 8px;
}
#area-top #area-top-center {
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  height: 65px;
  line-height: 65px;
  margin-left: -200px;
  text-align: center;
  color: #393939;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-weight: bold;
}
#area-top #area-top-center #clock {
  font-weight: bold;
  font-size: 20px;
  color: #393939;
}
#area-top #area-top-center #clock .name {
  background-color: #e9bd25;
}
#area-top #area-top-right {
  float: right;
  height: 65px;
  line-height: 65px;
  margin-right: 32px;
}
#area-top #area-top-right .area-top-btn {
  font-size: 18px;
  float: right;
  margin: 0 15px 0 0;
  cursor: pointer;
}
#area-top #area-top-right .area-login-info {
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin: 0 30px 0 0;
}
#area-top #area-top-right .curserv {
  float: left;
  margin: 0 25px 0 0;
  font-size: 20px;
  font-weight: bold;
}
#area-top #area-top-right .curserv nc {
  color: #e9bd25;
}
#area-top #area-top-right #btn-site-menu {
  font-weight: bolder;
  color: #810000;
}

#site-menu {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 200001;
  background-color: #ffffff;
  border-bottom: 1px solid #393939;
}
#site-menu .inner {
  width: 1280px;
  background-color: yellow;
  margin: 0 auto;
}
#site-menu ul li {
  float: left;
  width: 25%;
  list-style: none;
  margin: 8px 0;
  text-align: center;
}
#site-menu ul li:nth-child(4n + 1) {
  clear: left;
}
#site-menu dt {
  font-weight: bolder;
  font-size: 18px;
  color: #1e2a5d;
}
#site-menu dt, #site-menu dd {
  margin: 6px 0;
}
#site-menu .server-list .serv {
  cursor: pointer;
}
#site-menu #naver-cafe-icon {
  height: 50px;
}
#site-menu #quiz-timetable-icon {
  cursor: pointer;
}
#site-menu #btn-login {
  color: #0086B3;
}
#site-menu .admin {
  color: #880003;
  font-weight: bolder;
}

#settings {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 200001;
  background-color: #ffffff;
  border-bottom: 1px solid #393939;
}
#settings .inner {
  width: 1000px;
  background-color: yellow;
  margin: 0 auto;
}
#settings ul li {
  float: left;
  width: 33%;
  list-style: none;
  margin: 8px 0;
}
#settings ul li:nth-child(3n + 1) {
  clear: left;
}
#settings dt {
  font-weight: bolder;
  font-size: 18px;
  color: #1e2a5d;
}
#settings dt, #settings dd {
  margin: 6px 0;
}
#settings dd input[type='checkbox'] {
  margin: 0 8px;
}
#settings dd input[type='radio'] {
  margin: 0 4px;
}

#area-article {
  margin-top: 13px;
  margin-left: 17px;
  margin-right: 17px;
  width: calc( 100% - 34px );
  height: calc( 100vh - 13px - 65px - 5px );
  overflow-y: hidden;
  /**/
  /**/
  /* Chat Area */
}
#area-article .search_ret_root {
  color: #1b3440;
  margin: 5px;
}
#area-article div.search_ret_root[type="fromDB"] {
  background-color: #1b3440;
  color: #ffffff;
}
#area-article div.search_ret_root[type="fromDB"] b {
  background-color: red;
}
#area-article em {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  background-color: #e9bd25;
}
#area-article .search_ret_title {
  font-size: 17px;
  margin-bottom: 5px;
}
#area-article .search_ret_title b {
  font-size: 17px;
  background-color: #e9bd25;
}
#area-article .search_ret_desc {
  font-size: 17px;
  margin-bottom: 8px;
  line-height: 20px;
}
#area-article .search_ret_desc b {
  font-size: 18px;
  background-color: #e9bd25;
}
#area-article .search_ret_desc strong.hl {
  font-size: 18px;
  background-color: #e9bd25;
}
#area-article .separator {
  width: 100%;
  height: 1px;
  background-color: #1b3440;
  margin: 0 auto;
}
#area-article #article-left {
  float: left;
  margin: 0px;
  padding: 0px 13px 0 0;
  width: calc(35% - 13px);
  height: 100%;
  /* 검색 영역 Left */
  /*
      #notice {
        width: $hint-width;
        height: $notice-height;
        background-color: $color-main-back;
        margin-bottom: $bottom-margin;
        border: 1px solid $color-border;
        font-family: 'Nanum Barun Gothic', sans-serif;
        overflow-y: auto;
  
        [type="title"] {
          margin: 12px 0 12px 0;
          color: $primary-color;
          font-size: 24px;
          font-weight: bold;
        }
        [type="msg"] {
          font-size: 15px;
          color: black;
          font-weight: bold;
          margin: 6px 0 6px 0;
        }
      }
  */
}
#area-article #article-left #search-area-left {
  position: absolute;
  width: calc( 35% - 13px );
  /* for ie */
  width: calc( calc(35% - 13px) - 13px );
  height: calc( 100vh - 13px - 65px - 5px );
  overflow-y: auto;
  background-color: #ffffff;
  color: #393939;
  z-index: 20000;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 17px;
}
#area-article #article-left .ads {
  width: 100%;
  height: 63px;
}
#area-article #article-left #global-hint {
  height: 0px;
}
#area-article #article-left #hint {
  width: 100%;
  height: calc( 100vh - 13px - 65px - 5px - 63px);
  float: left;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  font-family: 'Nanum Barun Gothic', sans-serif;
}
#area-article #article-left #hint [type="top-menu"] {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #e5e5e5;
}
#area-article #article-left #hint [type="top-menu"] .hint-provider {
  margin: 0 0 0 25px;
  color: #e9bd25;
}
#area-article #article-left #hint [type="top-menu"] #btn-modify-hint {
  float: right;
  margin-right: 14px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
#area-article #article-left #hint [type="top-menu"] #btn-modify-hint-cancel {
  float: right;
  margin-right: 14px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
#area-article #article-left #hint #hint-article-area {
  width: calc( 100% - 20px );
  height: calc( calc( 100vh - 13px - 65px - 5px - 63px) - 65px );
  overflow-y: auto;
  padding: 0 10px 0 10px;
  font-size: 14px;
  font-family: 'Nanum Barun Gothic', sans-serif;
}
#area-article #article-left #hint #hint-modify-area {
  width: calc( 100% - 20px );
  height: calc( calc( 100vh - 13px - 65px - 5px - 63px) - 65px );
  overflow-y: auto;
  padding: 0 10px 0 10px;
  font-size: 14px;
}
#area-article #article-left #hint #hint-modify-area .memo-area {
  margin: 0;
  padding: 0;
  width: calc( 100% - 20px );
  height: calc( calc( calc( 100vh - 13px - 65px - 5px - 63px) - 65px ) - 20px );
}
#area-article #article-left #user-list-area {
  float: left;
  width: calc( 130px - 16px - 2px );
  height: calc( 100vh - 13px - 65px - 5px - 63px);
  padding: 0;
  margin: 0 0 0 13px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
#area-article #article-left #user-list-area [type="top-menu"] {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
#area-article #article-left #user-list-area #conn-users-list-wrapper {
  height: calc( calc( 100vh - 13px - 65px - 5px - 63px) - 65px );
  overflow-y: auto;
}
#area-article #article-left #user-list-area #conn-users-list-wrapper #conn-users-list {
  list-style: none;
  overflow-y: auto;
  margin: 0;
  padding: 0 0 0 4px;
}
#area-article #article-left #user-list-area #conn-users-list-wrapper #conn-users-list .btn-user-info {
  margin: 5px 0 0 5px;
  cursor: pointer;
}
#area-article #article-center {
  float: left;
  margin: 0 13px 0 0;
  padding: 0px;
  height: 100%;
  width: calc( 35% - 13px );
  /* 검색 영역 Center */
}
#area-article #article-center #search-area-center {
  position: absolute;
  width: calc( 35% - 13px );
  width: calc( 35% - 13px );
  height: calc( 100vh - 13px - 65px - 5px );
  background-color: #ffffff;
  color: #393939;
  overflow-y: auto;
  z-index: 20000;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 17px;
}
#area-article #article-center #statistics {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
}
#area-article #article-center #statistics .menu {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #e4e6e8;
  overflow-y: auto;
}
#area-article #article-center #statistics .tab {
  margin: 8px;
  height: 194px;
  overflow-y: auto;
}
#area-article #article-center #statistics .calc-item {
  float: left;
  margin: 6px 0;
}
#area-article #article-center #statistics .calc-input button {
  width: 68px;
  height: 22px;
}
#area-article #article-center #statistics .next {
  margin: 6px 0;
  clear: left;
}
#area-article #article-center #statistics table {
  border-collapse: collapse;
  border: 1px solid #393939;
  text-align: center;
}
#area-article #article-center #statistics th, #area-article #article-center #statistics tr, #area-article #article-center #statistics td {
  border: 1px solid #393939;
  padding: 5px;
}
#area-article #article-center #statistics .tab0, #area-article #article-center #statistics .tab1 {
  text-align: center;
}
#area-article #article-center #statistics .tab0 dd, #area-article #article-center #statistics .tab1 dd {
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  margin: 8px 0;
}
#area-article #article-center #statistics .tab0 dd .strong, #area-article #article-center #statistics .tab1 dd .strong {
  font-weight: bold;
}
#area-article #article-center #statistics .tab0 dd .red, #area-article #article-center #statistics .tab1 dd .red {
  background-color: #990000;
  color: whitesmoke;
}
#area-article #article-center #statistics .tab2 .item {
  float: left;
  margin: 0 4px;
}
#area-article #article-center #statistics .selected {
  background-color: #0ABE64;
  color: white;
}
#area-article #article-center #statistics .tab-btn {
  height: 32px;
  float: left;
  cursor: pointer;
  line-height: 40px;
  padding: 0 8px;
}
#area-article #article-center #center-info-area {
  margin: 13px 0;
  width: 100%;
  height: 300px;
  background-color: red;
}
#area-article #article-center #video-ads-area {
  width: 100%;
  height: 297px;
  background-color: #ffffff;
}
#area-article #article-center #jaum-quiz {
  width: 100%;
  height: 297px;
  line-height: 297px;
  font-weight: bolder;
  font-size: 22px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
#area-article #article-center #jaum-quiz {
  width: 100%;
  height: 297px;
  line-height: 297px;
  font-weight: bolder;
  font-size: 22px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
#area-article #article-center #random-quiz {
  width: 100%;
  background-color: #ffffff;
  height: 297px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  border: 1px solid #e5e5e5;
}
#area-article #article-center #random-quiz [type="top-menu"] {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #e5e5e5;
}
#area-article #article-center #random-quiz [type="top-menu"] quiz-provider {
  margin: 0 0 0 25px;
  color: #e9bd25;
}
#area-article #article-center #random-quiz [type="top-menu"] #btn-toggle-quiz {
  float: right;
  margin-right: 14px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
#area-article #article-center #random-quiz #random-quiz-question-wrapper {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 100px;
  padding: 0 40px;
  display: table-cell;
  vertical-align: middle;
}
#area-article #article-center #random-quiz #random-quiz-question {
  text-align: center;
  line-height: 27px;
  word-break: break-all;
}
#area-article #article-center #random-quiz .random-quiz-answer {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
#area-article #article-center #random-quiz .qsel {
  color: #e9bd25;
}
#area-article #article-center #random-quiz .gauge-wrapper {
  height: 8px;
  margin: 10px 40px;
  width: calc( 100% - 80px );
}
#area-article #article-center #random-quiz .gauge-wrapper .gauge {
  width: 100%;
  height: 8px;
  background-color: #e9bd25;
  border: 3px solid #e4e6e8;
}
#area-article #article-center #ads-banner-center {
  margin: 13px 0 0 0;
  width: 100%;
  height: 100px;
  overflow-y: hidden;
}
#area-article #article-center #ads-banner2-center {
  margin: 13px 0 0 0;
  width: 100%;
  height: 50px;
  overflow-y: hidden;
}
#area-article #article-center #ads-img1-center {
  margin: 13px 0 0 0;
  float: left;
  width: 100%;
}
#area-article #article-center #conn-users-list {
  margin: 13px 13px 0 0;
  float: left;
  min-width: 180px;
  height: 250px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
#area-article #article-right {
  float: left;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: calc( 30% - 5px );
}
#area-article #article-right #vote-data {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  height: 160px;
}
#area-article #article-right #vote-data [type="top-menu"] {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #e5e5e5;
}
#area-article #article-right #vote-data [type="top-menu"] vtitle {
  margin: 0 0 0 25px;
}
#area-article #article-right #vote-data [type="top-menu"] #check-all-server-vote {
  float: right;
  margin-right: 14px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
#area-article #article-right #ads-banner-right {
  margin: 13px 0 0 0;
  width: 100%;
  height: 50px;
  overflow-y: hidden;
}
#area-article #article-right #chat-wnd-root {
  margin: 13px 0 0 0;
  width: 100%;
  height: calc( 100vh - 13px - 65px - 5px - 160px - 13px - 50px - 13px);
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
#area-article #article-right #chat-wnd-root div#search-ret-rank {
  position: absolute;
  top: 353px;
  width: 400px;
  height: 300px;
  padding: 8px;
  opacity: 0.75;
  background-color: #1b3440;
  color: #ffffff;
  z-index: 2;
}
#area-article #article-right #chat-wnd-root div#search-ret-rank li.btn-search-ret-rank {
  margin-top: 5px;
  text-align: center;
  width: 100%;
  list-style: none;
  height: 32px;
  line-height: 32px;
}
#area-article #article-right #chat-wnd-root div#search-ret-rank div.h1 {
  font-size: 20px;
  text-align: center;
}
#area-article #article-right #chat-wnd-root div#search-ret-rank div.s1 {
  font-size: 14px;
  text-align: center;
}
#area-article #article-right #chat-wnd-root div#search-ret-rank .btn-search-ret-rank {
  cursor: pointer;
}
#area-article #article-right #chat-wnd-root [type="top-menu"] {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #e5e5e5;
}
#area-article #article-right #chat-wnd-root [type="top-menu"] vtitle {
  margin: 0 0 0 25px;
}
#area-article #article-right #chat-wnd-root [type="top-menu"] #btn-get-vote-list {
  float: right;
  margin-right: 14px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
#area-article #article-right #chat-wnd-root [type="top-menu"] #btn-get-search-list {
  float: right;
  margin-right: 14px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
#area-article #article-right #chat-wnd-root [type="top-menu"] #btn-clear-chat {
  float: right;
  margin-right: 14px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
#area-article #article-right #chat-wnd-root #chat {
  font-size: 13px;
  width: calc( 100% - 25px - 25px );
  height: 400px;
  height: calc( calc( 100vh - 13px - 65px - 5px - 160px - 13px - 50px - 13px) - 46px - 38px - 8px );
  margin: 0 25px 0 25px;
  background-color: #ffffff;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui {
  height: 400px;
  height: calc( calc( 100vh - 13px - 65px - 5px - 160px - 13px - 50px - 13px) - 46px - 38px - 8px );
  list-style: none;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  /* 채팅 아이템 */
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .chat-time {
  font-size: 9px;
  color: #7f7f7f;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .nick-area {
  cursor: pointer;
  float: left;
  width: 168px;
  height: 23px;
  line-height: 23px;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .nick-area .grade {
  float: left;
  width: 18px;
  height: 18px;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .nick-area .grade img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .nick-area .nick {
  float: left;
  padding-left: 4px;
  font-size: 13px;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .nick-area .ip {
  float: left;
  font-size: 9px;
  line-height: 23px;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .msg-area {
  float: left;
  width: calc( 100% - 25px - 25px - 168px );
  width: calc( calc( calc( 100% - 25px - 25px ) - 168px ) + 25px + 25px );
  min-height: 25px;
  line-height: 23px;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .admin {
  font-weight: bold;
  color: #7c2929;
}
#area-article #article-right #chat-wnd-root #chat ul.chat-ui li div.chat-msg-item .admin-nick {
  font-weight: bold;
  color: #7c2929;
}
#area-article #article-right #chat-wnd-root #chat-input-area {
  height: 38px;
}
#area-article #article-right #chat-wnd-root #chat-input-area #ip-nick {
  width: 140px;
  height: 38px;
  margin: 0;
  padding: 0;
  border: 1px solid #e5e5e5;
}
#area-article #article-right #chat-wnd-root #chat-input-area #ip-msg {
  width: calc( 100% - 140px - 4px );
  height: 38px;
  margin: 0;
  padding: 0;
  border: 1px solid #e5e5e5;
}

.admin_msg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  min-height: 60px;
  padding: 15px;
  margin-left: -20vw;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 17px;
  opacity: 0;
  overflow: hidden;
  z-index: 199999;
}

#one-pick-wnd {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  min-height: 400px;
  padding: 15px;
  margin-top: -200px;
  margin-left: -300px;
  background-color: #0ABE64;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 17px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 200000;
}
#one-pick-wnd h2 {
  margin-bottom: 10px;
}
#one-pick-wnd h3 {
  margin-bottom: 40px;
}
#one-pick-wnd #machine {
  width: 400px;
  height: 80px;
  margin: 12px auto;
}
#one-pick-wnd #machine div {
  font-size: 30px;
}
#one-pick-wnd button {
  width: 100px;
  height: 50px;
}

.opacity {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.non_opacity {
  -webkit-transition: none !important;
  transition: none !important;
}

#help {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #ffffff;
  text-align: justify;
  z-index: 300000;
}
#help dl {
  margin: 20px 0;
}
#help dt {
  font-size: 20px;
  margin: 14px 0;
}
#help dd {
  margin: 6px 0 6px 8px;
}

.user-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  margin-left: 10px;
  margin-top: 25px;
  padding: 20px;
  background-color: #ffffff;
  color: #393939;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #393939;
  z-index: 29999;
}
.user-menu div[type="name"] {
  height: 50px;
}
.user-menu div[type="menu"] {
  text-align: center;
}
.user-menu div[type="menu"] div[type="btn"] {
  cursor: pointer;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #393939;
  margin: 4px auto;
  border-radius: 10px;
}

search-top-ret {
  background-color: #0ABE64;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

title-prefix-ex {
  color: blue;
  font-size: 14px;
}

title-prefix {
  font-size: 14px;
}

title-prefix.krdic {
  color: red;
  font-weight: bolder;
}

title-prefix.hdic {
  color: blueviolet;
  font-weight: bolder;
}

title-prefix.edic {
  color: blue;
  font-weight: bolder;
}

title-prefix.dongyo {
  color: crimson;
  font-weight: bolder;
}

title-prefix.cb1 {
  color: #000066;
  font-weight: bolder;
}

title-prefix.cb2 {
  color: #1B3440;
  font-weight: bolder;
}

title-prefix.cb3 {
  color: #006600;
  font-weight: bolder;
}

title-prefix.cb4 {
  color: #440044;
  font-weight: bolder;
}

title-prefix.cb5 {
  color: #663366;
  font-weight: bolder;
}

title-prefix.cb6 {
  color: #ff2a00;
  font-weight: bolder;
}

.kin_style {
  color: #006600;
  font-weight: bold;
}

.btn-ban-list-ban {
  cursor: pointer;
}

.btn-ban-list-like {
  cursor: pointer;
}

/*# sourceMappingURL=styleSuwon.css.map */