body {
  background-color: #F5F1D5;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.content {
  text-align: center;
}

.quiz_title {
  height:50px;
  margin: 5px;
}

.quiz_answer {
  line-height: 40px;
  height: 40px;
  margin: 5px;
}

time {
  color:red;
}
#quiz_main {
  position: relative;
}

#quiz_result {
  position: relative;
  top: -100px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#banner_area {
  margin-top: 20px;
  background-color: #1B3440;
}

.ads_banner {
  margin-top: 10px;
  height: 50px;
}

#quiz_date_select {
  margin-top: 10px;
}

recommandcode {
  font: 23px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: darkred;
}

#quiz_date {
  width: 200px;
  height: 45px;
}

#getquiz, #getrandomquiz {
  width: 120px;
  height: 45px;
}