* {
    margin: 0px;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #F5F1D5;
    color: inherit;
}

body {
    font: 14px/1.8 "??", Arial;
    overflow: hidden;
    min-height: 100%;
}

.header {
    width: 100%;
    height: 128px;
    background-image: linear-gradient( to right, #1b3440, #2f3a40);
    color: #f5f1d5;
}

.logo {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-family: bold;
    margin-left: 30px;
    font-size: xx-large;
}

.logo_sub {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-family: bold;
    margin-left: 30px;
    font-size: large;
}

.logo_sub a {
    color: red;
    text-decoration: none;
}

.logo_bot {
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.logo_bot a {
    text-decoration: none;
    color: red;
}

.content {
    width: 100%;
    height: calc( 100vh - 128px  - 88px);
    color: #1b3440;
}

.content_left {
    float: left;
    width: 35%;
    height: 100%;
    border-right: 1px solid #1b3440;
}

.search_root {
    height: 100%;
}

.search_top {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
}

.search_article {
    width: calc(100% - 24px);
    overflow-y: scroll;
    padding: 12px;
    word-break: break-all;
    height: calc(100% - 24px - 15px);
}

.search_desc {
    width:100%;
    text-align: center;
    color: red;
    font-weight: bold;
}

.search_ret_root {
    color: #1b3440;
}

em {
    font-weight: bold;
}

.search_ret_title {
    font-size: 17px;	
    color: red;
}

.search_ret_desc {
    font-size: 14px;	
    margin-bottom: 4px;	
}

.search_ret_desc b {
    font-weight: bolder;
    color: blue;
}

.content_mid {
    float: left;
    width: 30%;
    height: calc(100% - 8px);
    margin: 4px;
    overflow-y: scroll;
}

.mid_top {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.mid_caution {
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: red;
    font-weight: bolder;
}

.mid_sub_top {
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 18px;
    width: 70%;
    padding-left: 50px;
}

.mid_desc {
    width: 100%;
    text-align: center;
    color: red;
}
.mid_desc desc {
    width: 100%;
}

.mid_btn_area {
    width: 80%;
    margin:0 auto;
}

.btn_vote {
    margin: 0;
    padding: 0;
    width: 32%;
    height: 34px;
}

.mid_article {
    float:none;
    text-align: left;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
}

.content_right {
    overflow: hidden;
    display: inline-block;
    float: left;
    width: calc(100% - 30% - 2px - 35% - 8px);
    border-left: 1px solid #1b3440;
}

.chat_top {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
}

.chat_top sub {
    font-size: 14px;
}

.chat_root {
    background-color: white;
    width: calc(100% - 20px);
    height: 100%;
    margin: 10px auto;
    border-radius: 12px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.chat_root ::-webkit-scrollbar {
    width: 8px;
}

.chat_root ::-webkit-scrollbar-track {
    background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */

.chat_root ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

.chat_root ::-webkit-scrollbar-button {
    background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

.chat_root ::-webkit-scrollbar-corner {
    background-color: black;
}

.chat_msg {
    width: 100%;
    height: calc( 100vh - 128px  - 88px - 20px - 60px - 32px - 20px);
    overflow-y: scroll;
    border-radius: 12px;
}

.chat_ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chat_ul li
{
    min-height: 32px;
    margin: 0;
    padding: 0;
}

.chat_ul li .chat_msg_obj {
    width: 100%;
    min-height: 32px;
    display: inline-block;
    position: relative;
}

.chat_star {
    position: absolute;
    top: 0;
    left: 5px;
    width: 50px;
    height: 50px;
}

.chat_ul li .chat_name {
    float: left;
    width: 160px;
    min-height: 32px;
    line-height: 32px;
    margin-left: 15px;
    overflow: hidden;
    cursor: crosshair;
}

.chat_ul .baned {
    color: red;
    font-weight: bold;
}

.chat_ul li .chat_text {
    float: left;
    width: calc( 100% - 175px - 8px );
    min-height: 32px;
    line-height: 32px;
    margin: 0 auto;
    padding-left: 8px;
}

.chat_input {
    overflow:hidden;
    width: 100%;
    height: 32px;
    border-radius: 12px;
    border-bottom: 1px solid black;;
}

.footer {
    width: 100%;
    height: 88px;
    color: #f5f1d5;
    background-color: #1b3440;
    text-align: center;
}

.bottom_ads {
    text-align: center;
}

.ip_name {
    display: inline-block;
    float: left;
    width: 150px;
    margin-left: 10px;
}

.ip_msg {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: calc(100% - 160px - 20px - 10px);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    text-align: center;
}

.admin_msg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 60px;
    margin-left: -20vw;
    background-color: white;
    text-align: center;
    line-height: 60px;
    font-size: 17px;
    opacity: 0;
    overflow: hidden;
}

.quiz_wnd{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26vw;
    height: 300px;
    margin-left: -13vw;
    margin-top: -150px;
    background-color: #1b3440;
    color: #F5F1D5;
    text-align: center;
    font-size: 17px;
    overflow: hidden;
    opacity: 0.9;
    z-index: 1;
}

.login_wnd {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26vw;
    height: 300px;
    margin-left: -13vw;
    margin-top: -150px;
    background-color: #1b3440;
    color: #F5F1D5;
    text-align: center;
    font-size: 17px;
    overflow: hidden;
    opacity: 1;
    z-index: 2;
}

.tb_login {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.tb_login td {
    height: 40px;
}

.btn_login_close {
    width: 50%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.q_title {
    margin: 10px;
    height: 69px;
}

.q_q {
    margin: 8px;
}

.youtube_video {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -225px;
    width: 800px;
    float: none;
}

.youtube_close {
    float: right;
    margin-right: 10px;
    background-color: black;
    color: white;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.guide_btn {
    cursor: pointer;
    color: #ff9284;
    font-size: 18px;
}

.admin_font {
    text-align: center;
    color: black;
    font-weight: bold;
}

.logined_font {
    text-align: center;
    color: blue;
}

.notice_font {
    text-align: center;
    background-color: darkblue;
    color: white;
}

.opacity {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.non_opacity {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.cb_auto_search {
    width: 16px;
    height: 16px;
}

color_red {
    color: yellow;
}


.min_vote_slider {
    width: 50%;
    height: 4px;
    margin: 6px auto;
    z-index: 0;
}

.btn_mobi_chat {
    width:46px;
    height:46px;
}

.logo_sub a {
    text-decoration: none;
    color: #ff9284;
}

.logo_bot a {
    text-decoration: none;
    color: greenyellow;
}

.link_color {

}

btn_logout {
    cursor: pointer;

}

recommand_code {
    font-size: 15px;
}