body {
  padding: 10px;
  background-color: #F5F1D5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content {
  float: left;
  width: 67%;
  text-align: center;
}

maintitle {
  font-size: xx-large;
  font-weight: bold;
}

subtitle {
  font-size: x-large;
}

info {
  color: #1B3440;
  font-size: large;
  font-weight: bold;
}

.btn_vote {
  width: 10%;
  height: 50px;
}

.ads_banner {
  margin-top: 10px;
  height: 50px;
}

.store_icon {
  height: 50px;
}

.mostanswer {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  font-size: 2.5em;
  background-color: black;
  vertical-align: middle;
  color: white;
}

.mostanswerinner {
  line-height: 200px;
  text-align: center;
}

#banner_area {
  margin: auto;
  background-color: #1B3440;
}

.newtype {
  stroke: green;
  color: green;
}

#mainframe {
}

#chat {
  background-color: white;
  float: left;
  width: 33%;
  height: 500px;
}

.top-bar {
  background: #666;
  position: relative;
  overflow: hidden;
  color: white;
  height: 40px;
}

.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background: radial-gradient(white, black);
}

#chatwndul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#chatwndul li {
  margin: 0;
  padding: 0;
}

.chatscrollarea {
  height: 460px;
  overflow-y:scroll;

}

.chatinputarea {
  display: table;
  width: 100%;
}

#chatnicknamearea {
  display: table-cell;
  width: 100px;
}

.chatnickname {
  width: 100%;
}

#chatinputboxarea {
  display: table-cell;
}

.chatinputbox {
  width: 100%;
}

.message {
  margin-left: 8px;
}

#quiztypedesc {
  color: #ee3344;
  font-weight: bold;
  font-size: 15px;
}