<!DOCTYPE html>
<html>
<head>
    <title>JAM LIVE ( 잼라이브 ) 정답 공유기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/basic.js"></script>
    <link rel='stylesheet' href='/stylesheets/styleMobile.css' />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3598320494828213",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<!-- HTML Design -->
<div id="app">
    <div id="top">
        <a href="/m/"><img src="/images/_logo.png"/></a>
    </div>
    <h2 style="text-align: center">이용수칙</h2>
    <dl>
        <dt>
            기본 이용 방법
        </dt>
        <dd>
            퀴즈 시간이 되면 공유기 서버에 접속합니다.
        </dd>
        <dd>
            정확히 아는 문제가 나오면 정답에 투표를 합니다.
        </dd>
        <dd>
            모르는 문제나 헷갈리는 문제는 투표하지 않습니다.
        </dd>
    </dl>
    <dl>
        <dt>
            매너
        </dt>
        <dd>
            도움을 받았으면 감사의 인사를 합니다.
        </dd>
        <dd>
            잘못된 답 투표나 실수를 했다면 사과를 합니다.
        </dd>
        <dd>
            실수한 유저의 사과는 너그러이 받아줍니다.
        </dd>
        <dd>
            절대 '욕설' 및 '자극적인 언행'을 하지 않습니다.
        </dd>
    </dl>
    <dl>
        <dt>
            그 외
        </dt>
        <dd>
            PC 버전에서는 검색 기능을 사용할 수 있습니다.
        </dd>
    </dl>
</div>
</body>
<script>
</script>
</html>
