<!DOCTYPE html>
<html>
  <head>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-6569150656822543",
              enable_page_level_ads: true
          });
      </script>

      <title>JAM LIVE ( 잼라이브 ) 정답 공유기</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
      <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
      <meta property="og:type" content="website">
      <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
      <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
      <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
      <meta property="og:url" content="http://jamlive.net">
      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
      <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
      <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
      <script src="/basic.js"></script>
      <link rel='stylesheet' href='/stylesheets/styleMobile.css' />
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  </head>
  <body>
  <!-- HTML Design -->
  <div id="app">
      <div id="top">
          <a href="/m/"><img src="/images/_logo.png"/></a>
      </div>
      <div id="menu-btn"></div>
      <div class="ads">
          <ins class="kakao_ad_area" style="display:none;width:100%"
               data-ad-unit    = "DAN-t87e91n4i053"
               data-ad-width   = "320"
               data-ad-height  = "50"></ins>
          <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
      </div>
      <div>
          <dl>
              <dt>공유기?</dt>
              <dd>모바일 퀴즈쇼를 힘을 합쳐서 푸는 사이트입니다.</dd>
              <dd><a href="/about">공유기 이용수칙</a></dd>
          </dl>
          <dl>
              <dt>모바일 퀴즈쇼?</dt>
              <dd>잼라이브, 더퀴즈라이브, 퍼프픽, 라이브팝, 큐피트 등 모바일 플랫폼으로 정해진 시간에 퀴즈를 풀고 상금을 획득하는 앱입니다.</dd>
              <dd><a href="/quizshow">모바일 퀴즈쇼 종류 및 설명 보기</a></dd>
          </dl>
      </div>
      <div class="ads">
          <ins class="kakao_ad_area" style="display:none;width:100%"
               data-ad-unit    = "DAN-rh5ikhi3t46a"
               data-ad-width   = "320"
               data-ad-height  = "50"></ins>
          <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
      </div>
      <div id="btns-menu">
          <button @click="onBtnSignUp" v-show="logined==false">회원가입</button>
          <button @click="onBtnSignIn" v-show="logined==false">로그인</button>
          <button @click="onBtnSignOut" v-show="logined==true">로그아웃</button>
      </div>
      <div>
          <dl>
              <dt>서버 목록</dt>
              <dd v-if='logined==false'>로그인 후에 서버 리스트가 나옵니다</dd>
              <dd v-else>
                  <ul id="server-list">
                      <li v-for="item in servers">
                          <div class="serv-item" @click="onBtnGo(item.idx, $event)">{{item.name}}</div>
                      </li>
                  </ul>
              </dd>
          </dl>
      </div>
      <div class="ads">
          <ins class="kakao_ad_area" style="display:none;width:100%"
               data-ad-unit    = "DAN-u7raa8rbgto1"
               data-ad-width   = "320"
               data-ad-height  = "50"></ins>
          <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
      </div>
      <div>
          <dl>
              <dt>문의 및 건의</dt>
              <dd>E-mail : nnnyyy@nate.com</dd>
          </dl>
      </div>
      <transition name="am">
          <div v-show="adminShow" id="admin-msg" v-text="adminMsg"></div>
      </transition>
  </div>
  </body>
  <script src="/js/mobile.js"></script>
<script>
    var logined = <%-logined%>;
    init(logined);
</script>
</html>
