<!DOCTYPE html>
<html>
  <head>
      <title>JAM LIVE ( 잼라이브 ) 정답 공유기</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
      <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
      <meta property="og:type" content="website">
      <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
      <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
      <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
      <meta property="og:url" content="http://jamlive.net">
      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
      <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
      <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
      <script src="/basic.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!-- HTML Design -->
  <div id ='mainframe'>
      <div class="center_wnd">
          <div class="title c_main">라이브 퀴즈 공유기</div>
          <div class="subtitle c_sub">아래 서버 중에 하나를 선택하세요</div>
          <div style="text-align: center;width: 320px; margin: 0 auto;">
              <ins class="kakao_ad_area" style="display:none;"
                   data-ad-unit    = "DAN-urpo5nnk32w6"
                   data-ad-width   = "320"
                   data-ad-height  = "100"></ins>
              <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
          </div>
          <div class="btn_box btn-serv" servidx=1>서버 1</div>
          <div class="btn_box btn-serv" servidx=2>서버 2</div>
          <div class="btn_box btn-serv" servidx=3>서버 3</div>
          <div class="btn_box btn-serv" servidx=4>서버 4</div>
          <div class="btn_box btn-serv" servidx=5>서버 5</div>
          <div class="btn_box btn-serv" servidx=6>서버 6</div>
          <div class="btn_box btn-serv" servidx=7>서버 7</div>
          <div class="btn_box btn-serv" servidx=8>서버 8</div>
          <div class="btn_box btn-serv" servidx=9>서버 9</div>
          <div class="btn_box btn-serv" servidx=10>서버 10</div>
          <a href="http://quiz.jamlive.net"><div class="btn_box">퀴즈 기출문제 사이트</div></a>
          <div style="text-align: center;width: 320px; margin: 0 auto;">
              <ins class="kakao_ad_area" style="display:none;width:100%"
                   data-ad-unit    = "DAN-t87e91n4i053"
                   data-ad-width   = "320"
                   data-ad-height  = "50"></ins>
              <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
          </div>
      </div>
  </div>
  <div class="admin_msg"></div>
  </body>
    <script>
        var animOpacityTimerID = -1;
        function showAdminMsg(msg) {
            var obj = $('.admin_msg');
            setVisible(obj, true);
            if( animOpacityTimerID != -1 ) {
                clearTimeout(animOpacityTimerID);
                animOpacityTimerID = -1;
                obj.removeClass('opacity');
                obj.addClass('non_opacity');
            }
            obj.addClass('opacity');
            obj.removeClass('non_opacity');
            obj.html(msg);
            obj.css('opacity', '0.95');
            animOpacityTimerID = setTimeout(function() {
                setVisible(obj, false);
                //$('.admin_msg').css('opacity', '0');
            }, 1500);

        }

        function setVisible(elem, visible) {
            elem.css('display', visible ? 'inline-block' : 'none');
        }

        function setVisibleBlock(elem, visible) {
            elem.css('display', visible ? 'block' : 'none');
        }

        function getVisible(elem) {
            if( elem.css('display') === 'none' ) return false;

            return true;
        }

        $(document).ready(function(){
            var obj = $('.admin_msg');
            setVisible(obj, false);

            $('.btn-serv').each(function(idx) {
                var servidx = $(this).attr('servidx');
                $(this).click(function(e) {
                    e.stopPropagation();
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify({
                            servidx: servidx
                        }),
                        contentType: 'application/json',
                        url: '/go',
                        success: function(data) {
                            if( data.ret == 0 ) {
                                window.location.href = data.url;
                            }
                            else {
                                showAdminMsg(data.msg);
                            }
                        }
                    });
                })
            });
        });
    </script>
</html>
