<!DOCTYPE html>
<html>
<head>
    <title>JAM LIVE ( 잼라이브 ) 정답 공유기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라이브 퀴즈쇼(잼라이브, 더퀴즈라이브, 라이브팟, 페이큐)의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라이브 퀴즈쇼 정답 공유기">
    <meta property="og:description" content="JAM LIVE ( 잼라이브 ) 퀴즈 문제의 정답을 서로 공유하여 당첨률을 높이기 위해 제작 된 사이트">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/basic.js"></script>
    <link rel='stylesheet' href='/stylesheets/styleMobile.css' />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3598320494828213",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<!-- HTML Design -->
<div id="app">
    <div id="top">
        <a href="/m/"><img src="/images/_logo.png"/></a>
    </div>
    <h2 style="text-align: center;margin: 8px;">회원가입</h2>
    <div>
        <table id="tb-sign-up">
            <tr>
                <td>아이디</td>
                <td><input type="text" v-model="id" :disabled="inputDisabled" placeholder="영문+숫자 6-10자"/></td>
            </tr>
            <tr>
                <td>닉네임</td>
                <td><input type="text" v-model="nick" :disabled="inputDisabled" placeholder="한글4자 영문8자까지"/></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" v-model="pw" :disabled="inputDisabled" placeholder="영문 숫자 포함 6-12자"/></td>
            </tr>
            <tr>
                <td>비밀번호 재입력</td>
                <td><input type="password" v-model="pwre" :disabled="inputDisabled"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button style="width:100%; height: 40px;" @click="onBtnSignUp">가입하기</button>
                </td>
            </tr>
        </table>

    </div>
    <transition name="am">
        <div v-show="adminShow" id="admin-msg" v-text="adminMsg"></div>
    </transition>
</div>
</body>
<script src="/js/signup.js"></script>
<script>
    var logined = <%-logined%>;
    init(logined);
</script>
</html>
